body ul#sharebarx li{margin-right:10px;}
/*
.logo {
	display:block;
	float:left;
	width:447px;
}
.top {
	display: block;
	float: right;
	width: 511px;
	word-wrap: break-word;
	background: #FFF;
	padding: 35px 0 0 0;
}
.topmenu {
	background: url('/images/topmenubg.jpg') repeat-x scroll 0 0 #FFFFFF;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	margin-top: 0;
	padding-top: 2px;
	margin-left: -2px;
	width: 514px;
}
ul.menu-top {
	margin: 6px 0 0;
	padding: 0;
}
.menu-top li {
	display: inline;
	list-style: none outside none;
}
.menu-top li a {
	border-right: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 0 4px;
	text-decoration: none;
}
.menu-top li.last a {
	border: 0 none;
}


.footer {
	color: #444;
}
#copyright {
	padding: 0 0 20px 0;
	overflow: hidden;
}
.bottom1 {
	/*background: none repeat scroll 0 0 #ececec;*//*
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #EFEFEF;
	color: #000000;
	font-size: 11px;
	padding: 15px 0;
}
.bottom2 {
	background: none repeat scroll 0 0 #fff;
	font-size: 11px;
}
ul.menu-bottom {
	padding: 20px 0;
	text-align: center;
	overflow: hidden;
}
.menu-bottom li {
	display:inline;
	list-style: none outside none;
}
.menu-bottom li a {
	color: #57AC45;
	text-decoration: none;
	border-right: 1px solid #96A98B;
	text-decoration: none;
	padding: 0 5px;
}
.menu-bottom li.last a {
	border: 0 none;
}
*/

/*Contact CSS*/
#wb_ent_main #contactForm fieldset {
    background-color: #fcfcff;
    //background-image: linear-gradient(to bottom, #fcfcff, #f5f6f8);
    background: none repeat scroll 0 0 #fcfcff;
    color: #777;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #eee;
}

#contactForm input, #contactForm select,  #contactForm textarea{
    border-radius: 0;
    border-color: #eee;
    width: 100%;
}

#contactForm select, #contactForm textarea{
    color: #777;
    border-color: #eee;
    background-color: #fff;
}

#contactForm label{
    text-transform: uppercase;
    float:none;
    color: #474747;
    font-weight: bold;
}

