/* LAYOUT */
#interface { width:1000px; height:700px; padding:15px 0 0 0; margin:0px auto 60px auto; clear:both; background:url('../images/bg_interface.jpg') top left no-repeat; }
#contentWrap { width:1002px; background:url('../images/bg_repeat_greyblock.gif') top left repeat-y; }
#leftCol, #rightCol { width:260px; float:left; padding:25px 0 0 0; }


/* TYPOGRAPHY */
h4 { font-size:120%; margin:0 0 10px 0; }
	
	
/* ADVERTISEMENTS */
#leftAds, #rightAds { margin:0 auto 50px auto; }
#midAds, #midCol { width:480px; float:left; padding:0px 0 0 0; }
.smallad { width:200px; height:100px; text-align:left; margin:0 auto 10px auto; background-color:#000; border:1px solid #aaa; }
#ad9 { width:468px; height:60px; margin:auto; background-color:#ffffff; margin-bottom:35px; border:1px solid #aaa; cursor:pointer }
#ad9 object, #ad9 embed, #ad9file a { cursor:pointer; }


/* PLAYER AND PLAYER TABS */
#player { width:480px; height:360px; margin:0 auto 20px auto; background-color:#000; border:1px solid #aaa; clear:both; }
#playerTabs {display:block; text-align:center; margin:0 auto; display:table; font-size:0.7em; }
#playerTabs li {float:left; }
#playerTabs li a {background:#666; border:1px solid #ddd; border-bottom:none; color:#ddd; padding:5px 10px 2px 10px; margin:0 3px; display:block; text-decoration:none; text-transform:uppercase; font-weight:bold; border-top-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px; border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; }
#playerTabs li a:hover {background:#777; color:#fff; }


/* WIDGETS */
#ask_expert, #latest_questions, #discussions, #share, #download, #subscribe, #submit_content, #searchDiv { width:178px; background:#ddd url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x; margin:0 auto 20px auto; text-align:left; padding:10px; border:1px solid #aaa; }
#ask_expert input, #ask_expert textarea { margin-bottom:5px; }
#latest_questions li, #discussions li { margin-bottom:5px; }
#share input.marg { margin-bottom:5px; }
#download a { text-decoration:none; }
#download a span { font-size:80%; color:#777; }
#submit_content input, #submit_content textarea, #searchDiv input { margin-bottom:5px; }
#searchDiv { float:none; }


/* COMMENTS AND TRANSCRIPT */
#com_trans { width:468px; margin:0 auto 30px auto; clear:both }
#commentsbox, #transcript { overflow:auto; border:1px solid #555; clear:left; background:#fff }
#commentsbox li { background-color:#dde4f2; border-top:1px solid #555; padding:10px; margin-bottom:10px }
#commentsbox span { font-size:80%; }
#commentsbox ol.commentlist li li { display:inline; }
#commentsbox ol.commentlist div { margin:0; padding:0; text-align:left }
.comment-meta, .commentmetadata { font-size:80%; font-style:italic; }
#commentsbox .navigation { display:none }
#commentsbox #respond { background-color:#dde4f2 }
#comments { margin-bottom:10px; }


/* COMMENTS/TRANSCRIPT TABS */
.usual { color:#111 }
.usual .idTabs li { list-style:none; float:left; }
.usual .idTabs ul li a { display:block!important; padding:6px 10px!important; text-decoration:none!important; margin-left:0; margin:10px; color:#FFF; background:#555 }
.usual .idTabs a { border-top:1px solid #555; border-left:1px solid #555; border-right:1px solid #555; display:block!important; background:#181818; padding:6px 10px!important; text-decoration:none!important; margin-left:0; color:#FFF; background:#555 }
.usual ul a:hover { color:#FFF; background:#777; }
.usual ul a.selected { margin-bottom:-10px; color:#000; background:#fff; border-bottom:1px solid#fff; cursor:default; }
.usual div { padding:10px 10px 8px 10px; *padding-top:3px; *margin-top:-15px; }
.usual div ul a { color:#000; font-weight:bold; display:inline; background:none; padding:0; }