@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mdddga');
  src:  url('fonts/icomoon.eot?mdddga#iefix') format('embedded-opentype'),
    	url('fonts/icomoon.ttf?mdddga') format('truetype'),
    	url('fonts/icomoon.woff?mdddga') format('woff'),
    	url('fonts/icomoon.svg?mdddga#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wbicon-"], [class*=" wbicon-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width: 25px;
  height: 40px;
  font-size: 20px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wbicon-add-id2:before {
  content: "\e900";
}
.wbicon-add-person2:before {
  content: "\e901";
}
.wbicon-address-book-12:before {
  content: "\e902";
}
.wbicon-address-book-22:before {
  content: "\e903";
}
.wbicon-airplane-time2:before {
  content: "\e904";
}
.wbicon-airplane3:before {
  content: "\e905";
}
.wbicon-arrow-curved-left2:before {
  content: "\e906";
}
.wbicon-arrow-down3:before {
  content: "\e907";
}
.wbicon-arrow-down3-after:after {
  content: "\e907";
}
.wbicon-arrow-left-circle2:before {
  content: "\e908";
}
.wbicon-arrow-left3:before {
  content: "\e909";
}
.wbicon-arrow-lines2:before {
  content: "\e90a";
}
.wbicon-arrow-right-circle2:before {
  content: "\e90b";
}
.wbicon-arrow-right3:before {
  content: "\e90c";
}
.wbicon-arrow-up3:before {
  content: "\e90d";
}
.wbicon-badge2:before {
  content: "\e90e";
}
.wbicon-beaker2:before {
  content: "\e90f";
}
.wbicon-bell4:before {
  content: "\e910";
}
.wbicon-bell22:before {
  content: "\e911";
}
.wbicon-bold-b2:before {
  content: "\e912";
}
.wbicon-book3:before {
  content: "\e913";
}
.wbicon-brain2:before {
  content: "\e914";
}
.wbicon-briefcase3:before {
  content: "\e915";
}
.wbicon-bullet-list2:before {
  content: "\e916";
}
.wbicon-business2:before {
  content: "\e917";
}
.wbicon-calendar3:before {
  content: "\e918";
}
.wbicon-camera3:before {
  content: "\e919";
}
.wbicon-cart3:before {
  content: "\e91a";
}
.wbicon-cash2:before {
  content: "\e91b";
}
.wbicon-chart2:before {
  content: "\e91c";
}
.wbicon-chat2:before {
  content: "\e91d";
}
.wbicon-check3:before {
  content: "\e91e";
}
.wbicon-check22:before {
  content: "\e91f";
}
.wbicon-chevron-down3:before {
  content: "\e920";
}
.wbicon-chevron-down22:before {
  content: "\e921";
}
.wbicon-chevron-left2:before {
  content: "\e922";
}
.wbicon-chevron-right2:before {
  content: "\e923";
}
.wbicon-chevron-up2:before {
  content: "\e924";
}
.wbicon-collapse2:before {
  content: "\e925";
}
.wbicon-comment2:before {
  content: "\e926";
}
.wbicon-community2:before {
  content: "\e927";
}
.wbicon-credit-12:before {
  content: "\e928";
}
.wbicon-credit-22:before {
  content: "\e929";
}
.wbicon-credit-32:before {
  content: "\e92a";
}
.wbicon-device2:before {
  content: "\e92b";
}
.wbicon-diagonal-arrow2:before {
  content: "\e92c";
}
.wbicon-display3:before {
  content: "\e92d";
}
.wbicon-dots-vertical2:before {
  content: "\e92e";
}
.wbicon-dots2:before {
  content: "\e92f";
}
.wbicon-download4:before {
  content: "\e930";
}
.wbicon-ellipsis2:before {
  content: "\e931";
}
.wbicon-envelope-solid2:before {
  content: "\e932";
}
.wbicon-envelope2:before {
  content: "\e933";
}
.wbicon-exclamation-circle2:before {
  content: "\e934";
}
.wbicon-exclamation2:before {
  content: "\e935";
}
.wbicon-eye-cancel2:before {
  content: "\e936";
}
.wbicon-eye4:before {
  content: "\e937";
}
.wbicon-eye22:before {
  content: "\e938";
}
.wbicon-facebook4:before {
  content: "\e939";
}
.wbicon-facebook23:before {
  content: "\e93a";
}
.wbicon-file-doc2:before {
  content: "\e93b";
}
.wbicon-file-image2:before {
  content: "\e93c";
}
.wbicon-file-movie2:before {
  content: "\e93d";
}
.wbicon-file-pdf3:before {
  content: "\e93e";
}
.wbicon-file-ppt2:before {
  content: "\e93f";
}
.wbicon-file-xlsx2:before {
  content: "\e940";
}
.wbicon-file-zip3:before {
  content: "\e941";
}
.wbicon-file2:before {
  content: "\e942";
}
.wbicon-folder-closed2:before {
  content: "\e943";
}
.wbicon-folder-open3:before {
  content: "\e944";
}
.wbicon-funnel2:before {
  content: "\e945";
}
.wbicon-gear3:before {
  content: "\e946";
}
.wbicon-gear22:before {
  content: "\e947";
}
.wbicon-globe3:before {
  content: "\e948";
}
.wbicon-globe22:before {
  content: "\e949";
}
.wbicon-googleplus2:before {
  content: "\e94a";
}
.wbicon-graduationcap2:before {
  content: "\e94b";
}
.wbicon-Grid2:before {
  content: "\e94c";
}
.wbicon-group2:before {
  content: "\e94d";
}
.wbicon-hand-stop2:before {
  content: "\e94e";
}
.wbicon-hand2:before {
  content: "\e94f";
}
.wbicon-heart3:before {
  content: "\e950";
}
.wbicon-house2:before {
  content: "\e951";
}
.wbicon-id-card-solid2:before {
  content: "\e952";
}
.wbicon-id-card2:before {
  content: "\e953";
}
.wbicon-image3:before {
  content: "\e954";
}
.wbicon-infinity2:before {
  content: "\e955";
}
.wbicon-instagram3:before {
  content: "\e956";
}
.wbicon-italic-i2:before {
  content: "\e957";
}
.wbicon-key3:before {
  content: "\e958";
}
.wbicon-landscape2:before {
  content: "\e959";
}
.wbicon-lighbulb2:before {
  content: "\e95a";
}
.wbicon-link-22:before {
  content: "\e95b";
}
.wbicon-link4:before {
  content: "\e95c";
}
.wbicon-link22:before {
  content: "\e95d";
}
.wbicon-linkedin3:before {
  content: "\e95e";
}
.wbicon-location3:before {
  content: "\e95f";
}
.wbicon-lock-circle2:before {
  content: "\e960";
}
.wbicon-lock-closed2:before {
  content: "\e961";
}
.wbicon-lock-open2:before {
  content: "\e962";
}
.wbicon-lock3:before {
  content: "\e963";
}
.wbicon-m2mx2:before {
  content: "\e964";
}
.wbicon-magnifying-glass2:before {
  content: "\e965";
}
.wbicon-magnifyingglass2:before {
  content: "\e966";
}
.wbicon-maskarts2:before {
  content: "\e967";
}
.wbicon-medal2:before {
  content: "\e968";
}
.wbicon-minus-person2:before {
  content: "\e969";
}
.wbicon-minus3:before {
  content: "\e96a";
}
.wbicon-no2:before {
  content: "\e96b";
}
.wbicon-ordered-list2:before {
  content: "\e96c";
}
.wbicon-paintbrush2:before {
  content: "\e96d";
}
.wbicon-paperclip-vertical2:before {
  content: "\e96e";
}
.wbicon-paperclipdiagonal2:before {
  content: "\e96f";
}
.wbicon-paperclipvertical2:before {
  content: "\e970";
}
.wbicon-pencil3:before {
  content: "\e971";
}
.wbicon-phone3:before {
  content: "\e972";
}
.wbicon-play4:before {
  content: "\e973";
}
.wbicon-play23:before {
  content: "\e974";
}
.wbicon-plus4:before {
  content: "\e975";
}
.wbicon-plus22:before {
  content: "\e976";
}
.wbicon-pointer2:before {
  content: "\e977";
}
.wbicon-printer3:before {
  content: "\e978";
}
.wbicon-pulse2:before {
  content: "\e979";
}
.wbicon-question3:before {
  content: "\e97a";
}
.wbicon-quotation-mark2:before {
  content: "\e97b";
}
.wbicon-redo3:before {
  content: "\e97c";
}
.wbicon-refresh2:before {
  content: "\e97d";
}
.wbicon-register2:before {
  content: "\e97e";
}
.wbicon-retweet2:before {
  content: "\e97f";
}
.wbicon-save3:before {
  content: "\e980";
}
.wbicon-save22:before {
  content: "\e981";
}
.wbicon-share-apple2:before {
  content: "\e982";
}
.wbicon-share-google2:before {
  content: "\e983";
}
.wbicon-shoecleat2:before {
  content: "\e984";
}
.wbicon-speaker2:before {
  content: "\e985";
}
.wbicon-spinner-dots2:before {
  content: "\e986";
}
.wbicon-spinner12:before {
  content: "\e987";
}
.wbicon-star2:before {
  content: "\e988";
}
.wbicon-tag2:before {
  content: "\e989";
}
.wbicon-three-lines2:before {
  content: "\e98a";
}
.wbicon-thumbs-up2:before {
  content: "\e98b";
}
.wbicon-trash-can2:before {
  content: "\e98c";
}
.wbicon-trash2:before {
  content: "\e98d";
}
.wbicon-triangle-down2:before {
  content: "\e98e";
}
.wbicon-trophy3:before {
  content: "\e98f";
}
.wbicon-twitter-22:before {
  content: "\e990";
}
.wbicon-twitter3:before {
  content: "\e991";
}
.wbicon-undo3:before {
  content: "\e992";
}
.wbicon-unlock2:before {
  content: "\e993";
}
.wbicon-unordered-list2:before {
  content: "\e994";
}
.wbicon-user3:before {
  content: "\e995";
}
.wbicon-video3:before {
  content: "\e996";
}
.wbicon-video22:before {
  content: "\e997";
}
.wbicon-wallet2:before {
  content: "\e998";
}
.wbicon-warning3:before {
  content: "\e999";
}
.wbicon-x2:before {
  content: "\e99a";
}
.wbicon-youtube3:before {
  content: "\e99b";
}
.wbicon-ypo2:before {
  content: "\e99c";
}
.wbicon-zoom-in3:before {
  content: "\e99d";
}
.wbicon-zoom-out3:before {
  content: "\e99e";
}
.wbicon-add-id:before {
  content: "\e99f";
}
.wbicon-add-person:before {
  content: "\e9a0";
}
.wbicon-address-book-1:before {
  content: "\e9a1";
}
.wbicon-address-book-2:before {
  content: "\e9a2";
}
.wbicon-airplane-time:before {
  content: "\e9a3";
}
.wbicon-airplane:before {
  content: "\e9a4";
}
.wbicon-arrow-curved-left:before {
  content: "\e9a5";
}
.wbicon-arrow-down:before {
  content: "\e9a6";
}
.wbicon-arrow-left-circle:before {
  content: "\e9a7";
}
.wbicon-arrow-left:before {
  content: "\e9a8";
}
.wbicon-arrow-lines:before {
  content: "\e9a9";
}
.wbicon-arrow-right-circle:before {
  content: "\e9aa";
}
.wbicon-arrow-right:before {
  content: "\e9ab";
}
.wbicon-arrow-up:before {
  content: "\e9ac";
}
.wbicon-badge:before {
  content: "\e9ad";
}
.wbicon-beaker:before {
  content: "\e9ae";
}
.wbicon-bell:before {
  content: "\e9af";
}
.wbicon-bell2:before {
  content: "\e9b0";
}
.wbicon-bold-b:before {
  content: "\e9b1";
}
.wbicon-book:before {
  content: "\e9b2";
}
.wbicon-brain:before {
  content: "\e9b3";
}
.wbicon-briefcase:before {
  content: "\e9b4";
}
.wbicon-bullet-list:before {
  content: "\e9b5";
}
.wbicon-business:before {
  content: "\e9b6";
}
.wbicon-calendar:before {
  content: "\e9b7";
}
.wbicon-camera:before {
  content: "\e9b8";
}
.wbicon-cart:before {
  content: "\e9b9";
}
.wbicon-cash:before {
  content: "\e9ba";
}
.wbicon-chart:before {
  content: "\e9bb";
}
.wbicon-chat:before {
  content: "\e9bc";
}
.wbicon-check:before {
  content: "\e9bd";
}
.wbicon-check2:before {
  content: "\e9be";
}
.wbicon-chevron-down:before {
  content: "\e9bf";
}
.wbicon-chevron-down2:before {
  content: "\e9c0";
}
.wbicon-chevron-left:before {
  content: "\e9c1";
}
.wbicon-chevron-right:before {
  content: "\e9c2";
}
.wbicon-chevron-up:before {
  content: "\e9c3";
}
.wbicon-collapse:before {
  content: "\e9c4";
}
.wbicon-comment:before {
  content: "\e9c5";
}
.wbicon-community:before {
  content: "\e9c6";
}
.wbicon-credit-1:before {
  content: "\e9c7";
}
.wbicon-credit-2:before {
  content: "\e9c8";
}
.wbicon-credit-3:before {
  content: "\e9c9";
}
.wbicon-device:before {
  content: "\e9ca";
}
.wbicon-diagonal-arrow:before {
  content: "\e9cb";
}
.wbicon-display:before {
  content: "\e9cc";
}
.wbicon-dots-vertical:before {
  content: "\e9cd";
}
.wbicon-dots:before {
  content: "\e9ce";
}
.wbicon-download:before {
  content: "\e9cf";
}
.wbicon-ellipsis:before {
  content: "\e9d0";
}
.wbicon-envelope-solid:before {
  content: "\e9d1";
}
.wbicon-envelope:before {
  content: "\e9d2";
}
.wbicon-exclamation-circle:before {
  content: "\e9d3";
}
.wbicon-exclamation:before {
  content: "\e9d4";
}
.wbicon-eye-cancel:before {
  content: "\e9d5";
}
.wbicon-eye:before {
  content: "\e9d6";
}
.wbicon-eye2:before {
  content: "\e9d7";
}
.wbicon-facebook:before {
  content: "\e9d8";
}
.wbicon-facebook2:before {
  content: "\e9d9";
}
.wbicon-file-doc:before {
  content: "\e9da";
}
.wbicon-file-image:before {
  content: "\e9db";
}
.wbicon-file-movie:before {
  content: "\e9dc";
}
.wbicon-file-pdf:before {
  content: "\e9dd";
}
.wbicon-file-ppt:before {
  content: "\e9de";
}
.wbicon-file-xlsx:before {
  content: "\e9df";
}
.wbicon-file-zip:before {
  content: "\e9e0";
}
.wbicon-file:before {
  content: "\e9e1";
}
.wbicon-folder-closed:before {
  content: "\e9e2";
}
.wbicon-folder-open:before {
  content: "\e9e3";
}
.wbicon-funnel:before {
  content: "\e9e4";
}
.wbicon-gear:before {
  content: "\e9e5";
}
.wbicon-gear2:before {
  content: "\e9e6";
}
.wbicon-globe:before {
  content: "\e9e7";
}
.wbicon-globe2:before {
  content: "\e9e8";
}
.wbicon-googleplus:before {
  content: "\e9e9";
}
.wbicon-graduationcap:before {
  content: "\e9ea";
}
.wbicon-Grid:before {
  content: "\e9eb";
}
.wbicon-group:before {
  content: "\e9ec";
}
.wbicon-hand-stop:before {
  content: "\e9ed";
}
.wbicon-hand:before {
  content: "\e9ee";
}
.wbicon-heart:before {
  content: "\e9ef";
}
.wbicon-house:before {
  content: "\e9f0";
}
.wbicon-id-card-solid:before {
  content: "\e9f1";
}
.wbicon-id-card:before {
  content: "\e9f2";
}
.wbicon-image:before {
  content: "\e9f3";
}
.wbicon-infinity:before {
  content: "\e9f4";
}
.wbicon-instagram:before {
  content: "\e9f5";
}
.wbicon-italic-i:before {
  content: "\e9f6";
}
.wbicon-key:before {
  content: "\e9f7";
}
.wbicon-landscape:before {
  content: "\e9f8";
}
.wbicon-lighbulb:before {
  content: "\e9f9";
}
.wbicon-link-2:before {
  content: "\e9fa";
}
.wbicon-link:before {
  content: "\e9fb";
}
.wbicon-link2:before {
  content: "\e9fc";
}
.wbicon-linkedin:before {
  content: "\e9fd";
}
.wbicon-location:before {
  content: "\e9fe";
}
.wbicon-lock-circle:before {
  content: "\e9ff";
}
.wbicon-lock-closed:before {
  content: "\ea00";
}
.wbicon-lock-open:before {
  content: "\ea01";
}
.wbicon-lock:before {
  content: "\ea02";
}
.wbicon-m2mx:before {
  content: "\ea03";
}
.wbicon-magnifying-glass:before {
  content: "\ea04";
}
.wbicon-magnifyingglass:before {
  content: "\ea05";
}
.wbicon-maskarts:before {
  content: "\ea06";
}
.wbicon-medal:before {
  content: "\ea07";
}
.wbicon-minus-person:before {
  content: "\ea08";
}
.wbicon-minus:before {
  content: "\ea09";
}
.wbicon-no:before {
  content: "\ea0a";
}
.wbicon-ordered-list:before {
  content: "\ea0b";
}
.wbicon-paintbrush:before {
  content: "\ea0c";
}
.wbicon-paperclip-vertical:before {
  content: "\ea0d";
}
.wbicon-paperclipdiagonal:before {
  content: "\ea0e";
}
.wbicon-paperclipvertical:before {
  content: "\ea0f";
}
.wbicon-pencil:before {
  content: "\ea10";
}
.wbicon-phone:before {
  content: "\ea11";
}
.wbicon-play:before {
  content: "\ea12";
}
.wbicon-play2:before {
  content: "\ea13";
}
.wbicon-plus:before {
  content: "\ea14";
}
.wbicon-plus2:before {
  content: "\ea15";
}
.wbicon-pointer:before {
  content: "\ea16";
}
.wbicon-printer:before {
  content: "\ea17";
}
.wbicon-pulse:before {
  content: "\ea18";
}
.wbicon-question:before {
  content: "\ea19";
}
.wbicon-quotation-mark:before {
  content: "\ea1a";
}
.wbicon-redo:before {
  content: "\ea1b";
}
.wbicon-refresh:before {
  content: "\ea1c";
}
.wbicon-register:before {
  content: "\ea1d";
}
.wbicon-retweet:before {
  content: "\ea1e";
}
.wbicon-save:before {
  content: "\ea1f";
}
.wbicon-save2:before {
  content: "\ea20";
}
.wbicon-share-apple:before {
  content: "\ea21";
}
.wbicon-share-google:before {
  content: "\ea22";
}
.wbicon-shoecleat:before {
  content: "\ea23";
}
.wbicon-speaker:before {
  content: "\ea24";
}
.wbicon-spinner-dots:before {
  content: "\ea25";
}
.wbicon-spinner:before {
  content: "\ea26";
}
.wbicon-star:before {
  content: "\ea27";
}
.wbicon-tag:before {
  content: "\ea28";
}
.wbicon-three-lines:before {
  content: "\ea29";
}
.wbicon-thumbs-up:before {
  content: "\ea2a";
}
.wbicon-trash-can:before {
  content: "\ea2b";
}
.wbicon-trash:before {
  content: "\ea2c";
}
.wbicon-triangle-down:before {
  content: "\ea2d";
}
.wbicon-trophy:before {
  content: "\ea2e";
}
.wbicon-twitter-2:before {
  content: "\ea2f";
}
.wbicon-twitter:before {
  content: "\ea30";
}
.wbicon-undo:before {
  content: "\ea31";
}
.wbicon-unlock:before {
  content: "\ea32";
}
.wbicon-unordered-list:before {
  content: "\ea33";
}
.wbicon-user:before {
  content: "\ea34";
}
.wbicon-video:before {
  content: "\ea35";
}
.wbicon-video2:before {
  content: "\ea36";
}
.wbicon-wallet:before {
  content: "\ea37";
}
.wbicon-warning:before {
  content: "\ea38";
}
.wbicon-x:before {
  content: "\ea39";
}
.wbicon-youtube:before {
  content: "\ea3a";
}
.wbicon-ypo:before {
  content: "\ea3b";
}
.wbicon-zoom-in:before {
  content: "\ea3c";
}
.wbicon-zoom-out:before {
  content: "\ea3d";
}
.wbicon-eye5:before {
  content: "\e000";
}
.wbicon-paper-clip:before {
  content: "\e001";
}
.wbicon-mail5:before {
  content: "\e002";
}
.wbicon-toggle:before {
  content: "\e003";
}
.wbicon-layout:before {
  content: "\e004";
}
.wbicon-link5:before {
  content: "\e005";
}
.wbicon-bell5:before {
  content: "\e006";
}
.wbicon-lock4:before {
  content: "\e007";
}
.wbicon-unlock3:before {
  content: "\e008";
}
.wbicon-ribbon:before {
  content: "\e009";
}
.wbicon-image4:before {
  content: "\e010";
}
.wbicon-signal:before {
  content: "\e011";
}
.wbicon-target2:before {
  content: "\e012";
}
.wbicon-clipboard2:before {
  content: "\e013";
}
.wbicon-clock3:before {
  content: "\e014";
}
.wbicon-watch:before {
  content: "\e015";
}
.wbicon-air-play:before {
  content: "\e016";
}
.wbicon-camera4:before {
  content: "\e017";
}
.wbicon-video4:before {
  content: "\e018";
}
.wbicon-disc:before {
  content: "\e019";
}
.wbicon-printer4:before {
  content: "\e020";
}
.wbicon-monitor:before {
  content: "\e021";
}
.wbicon-server:before {
  content: "\e022";
}
.wbicon-cog2:before {
  content: "\e023";
}
.wbicon-heart4:before {
  content: "\e024";
}
.wbicon-paragraph:before {
  content: "\e025";
}
.wbicon-align-justify:before {
  content: "\e026";
}
.wbicon-align-left:before {
  content: "\e027";
}
.wbicon-align-center:before {
  content: "\e028";
}
.wbicon-align-right:before {
  content: "\e029";
}
.wbicon-book4:before {
  content: "\e030";
}
.wbicon-layers:before {
  content: "\e031";
}
.wbicon-stack2:before {
  content: "\e032";
}
.wbicon-stack-2:before {
  content: "\e033";
}
.wbicon-paper:before {
  content: "\e034";
}
.wbicon-paper-stack:before {
  content: "\e035";
}
.wbicon-search2:before {
  content: "\e036";
}
.wbicon-zoom-in4:before {
  content: "\e037";
}
.wbicon-zoom-out4:before {
  content: "\e038";
}
.wbicon-reply2:before {
  content: "\e039";
}
.wbicon-circle-plus:before {
  content: "\e040";
}
.wbicon-circle-minus:before {
  content: "\e041";
}
.wbicon-circle-check:before {
  content: "\e042";
}
.wbicon-circle-cross:before {
  content: "\e043";
}
.wbicon-square-plus:before {
  content: "\e044";
}
.wbicon-square-minus:before {
  content: "\e045";
}
.wbicon-square-check:before {
  content: "\e046";
}
.wbicon-square-cross:before {
  content: "\e047";
}
.wbicon-microphone:before {
  content: "\e048";
}
.wbicon-record:before {
  content: "\e049";
}
.wbicon-skip-back:before {
  content: "\e050";
}
.wbicon-rewind:before {
  content: "\e051";
}
.wbicon-play5:before {
  content: "\e052";
}
.wbicon-pause3:before {
  content: "\e053";
}
.wbicon-stop3:before {
  content: "\e054";
}
.wbicon-fast-forward:before {
  content: "\e055";
}
.wbicon-skip-forward:before {
  content: "\e056";
}
.wbicon-shuffle2:before {
  content: "\e057";
}
.wbicon-repeat:before {
  content: "\e058";
}
.wbicon-folder2:before {
  content: "\e059";
}
.wbicon-umbrella:before {
  content: "\e060";
}
.wbicon-moon:before {
  content: "\e061";
}
.wbicon-thermometer:before {
  content: "\e062";
}
.wbicon-drop:before {
  content: "\e063";
}
.wbicon-sun2:before {
  content: "\e064";
}
.wbicon-cloud2:before {
  content: "\e065";
}
.wbicon-cloud-upload2:before {
  content: "\e066";
}
.wbicon-cloud-download2:before {
  content: "\e067";
}
.wbicon-upload4:before {
  content: "\e068";
}
.wbicon-download5:before {
  content: "\e069";
}
.wbicon-location4:before {
  content: "\e070";
}
.wbicon-location-2:before {
  content: "\e071";
}
.wbicon-map3:before {
  content: "\e072";
}
.wbicon-battery:before {
  content: "\e073";
}
.wbicon-head:before {
  content: "\e074";
}
.wbicon-briefcase4:before {
  content: "\e075";
}
.wbicon-speech-bubble:before {
  content: "\e076";
}
.wbicon-anchor:before {
  content: "\e077";
}
.wbicon-globe4:before {
  content: "\e078";
}
.wbicon-box:before {
  content: "\e079";
}
.wbicon-reload:before {
  content: "\e080";
}
.wbicon-share3:before {
  content: "\e081";
}
.wbicon-marquee:before {
  content: "\e082";
}
.wbicon-marquee-plus:before {
  content: "\e083";
}
.wbicon-marquee-minus:before {
  content: "\e084";
}
.wbicon-tag3:before {
  content: "\e085";
}
.wbicon-power2:before {
  content: "\e086";
}
.wbicon-command2:before {
  content: "\e087";
}
.wbicon-alt:before {
  content: "\e088";
}
.wbicon-esc:before {
  content: "\e089";
}
.wbicon-bar-graph:before {
  content: "\e090";
}
.wbicon-bar-graph-2:before {
  content: "\e091";
}
.wbicon-pie-graph:before {
  content: "\e092";
}
.wbicon-star3:before {
  content: "\e093";
}
.wbicon-arrow-left4:before {
  content: "\e094";
}
.wbicon-arrow-right4:before {
  content: "\e095";
}
.wbicon-arrow-up4:before {
  content: "\e096";
}
.wbicon-arrow-down4:before {
  content: "\e097";
}
.wbicon-volume:before {
  content: "\e098";
}
.wbicon-mute:before {
  content: "\e099";
}
.wbicon-content-right:before {
  content: "\e100";
}
.wbicon-content-left:before {
  content: "\e101";
}
.wbicon-grid:before {
  content: "\e102";
}
.wbicon-grid-2:before {
  content: "\e103";
}
.wbicon-columns:before {
  content: "\e104";
}
.wbicon-loader:before {
  content: "\e105";
}
.wbicon-bag:before {
  content: "\e106";
}
.wbicon-ban:before {
  content: "\e107";
}
.wbicon-flag2:before {
  content: "\e108";
}
.wbicon-trash3:before {
  content: "\e109";
}
.wbicon-expand:before {
  content: "\e110";
}
.wbicon-contract:before {
  content: "\e111";
}
.wbicon-maximize:before {
  content: "\e112";
}
.wbicon-minimize:before {
  content: "\e113";
}
.wbicon-plus5:before {
  content: "\e114";
}
.wbicon-minus4:before {
  content: "\e115";
}
.wbicon-check4:before {
  content: "\e116";
}
.wbicon-cross2:before {
  content: "\e117";
}
.wbicon-move:before {
  content: "\e118";
}
.wbicon-delete:before {
  content: "\e119";
}
.wbicon-menu5:before {
  content: "\e120";
}
.wbicon-archive:before {
  content: "\e121";
}
.wbicon-inbox:before {
  content: "\e122";
}
.wbicon-outbox:before {
  content: "\e123";
}
.wbicon-file3:before {
  content: "\e124";
}
.wbicon-file-add:before {
  content: "\e125";
}
.wbicon-file-subtract:before {
  content: "\e126";
}
.wbicon-help:before {
  content: "\e127";
}
.wbicon-open:before {
  content: "\e128";
}
.wbicon-ellipsis3:before {
  content: "\e129";
}
.wbicon-home:before {
  content: "\ea3e";
}
.wbicon-home2:before {
  content: "\ea3f";
}
.wbicon-home3:before {
  content: "\ea40";
}
.wbicon-office:before {
  content: "\ea41";
}
.wbicon-newspaper:before {
  content: "\ea42";
}
.wbicon-pencil2:before {
  content: "\ea43";
}
.wbicon-pencil22:before {
  content: "\ea44";
}
.wbicon-quill:before {
  content: "\ea45";
}
.wbicon-pen:before {
  content: "\ea46";
}
.wbicon-blog:before {
  content: "\ea47";
}
.wbicon-eyedropper:before {
  content: "\ea48";
}
.wbicon-droplet:before {
  content: "\ea49";
}
.wbicon-paint-format:before {
  content: "\ea4a";
}
.wbicon-image2:before {
  content: "\ea4b";
}
.wbicon-images:before {
  content: "\ea4c";
}
.wbicon-camera2:before {
  content: "\ea4d";
}
.wbicon-headphones:before {
  content: "\ea4e";
}
.wbicon-music:before {
  content: "\ea4f";
}
.wbicon-play3:before {
  content: "\ea50";
}
.wbicon-film:before {
  content: "\ea51";
}
.wbicon-video-camera:before {
  content: "\ea52";
}
.wbicon-dice:before {
  content: "\ea53";
}
.wbicon-pacman:before {
  content: "\ea54";
}
.wbicon-spades:before {
  content: "\ea55";
}
.wbicon-clubs:before {
  content: "\ea56";
}
.wbicon-diamonds:before {
  content: "\ea57";
}
.wbicon-bullhorn:before {
  content: "\ea58";
}
.wbicon-connection:before {
  content: "\ea59";
}
.wbicon-podcast:before {
  content: "\ea5a";
}
.wbicon-feed:before {
  content: "\ea5b";
}
.wbicon-mic:before {
  content: "\ea5c";
}
.wbicon-book2:before {
  content: "\ea5d";
}
.wbicon-books:before {
  content: "\ea5e";
}
.wbicon-library:before {
  content: "\ea5f";
}
.wbicon-file-text:before {
  content: "\ea60";
}
.wbicon-profile:before {
  content: "\ea61";
}
.wbicon-file-empty:before {
  content: "\ea62";
}
.wbicon-files-empty:before {
  content: "\ea63";
}
.wbicon-file-text2:before {
  content: "\ea64";
}
.wbicon-file-picture:before {
  content: "\ea65";
}
.wbicon-file-music:before {
  content: "\ea66";
}
.wbicon-file-play:before {
  content: "\ea67";
}
.wbicon-file-video:before {
  content: "\ea68";
}
.wbicon-file-zip2:before {
  content: "\ea69";
}
.wbicon-copy:before {
  content: "\ea6a";
}
.wbicon-paste:before {
  content: "\ea6b";
}
.wbicon-stack:before {
  content: "\ea6c";
}
.wbicon-folder:before {
  content: "\ea6d";
}
.wbicon-folder-open2:before {
  content: "\ea6e";
}
.wbicon-folder-plus:before {
  content: "\ea6f";
}
.wbicon-folder-minus:before {
  content: "\ea70";
}
.wbicon-folder-download:before {
  content: "\ea71";
}
.wbicon-folder-upload:before {
  content: "\ea72";
}
.wbicon-price-tag:before {
  content: "\ea73";
}
.wbicon-price-tags:before {
  content: "\ea74";
}
.wbicon-barcode:before {
  content: "\ea75";
}
.wbicon-qrcode:before {
  content: "\ea76";
}
.wbicon-ticket:before {
  content: "\ea77";
}
.wbicon-cart2:before {
  content: "\ea78";
}
.wbicon-coin-dollar:before {
  content: "\ea79";
}
.wbicon-coin-euro:before {
  content: "\ea7a";
}
.wbicon-coin-pound:before {
  content: "\ea7b";
}
.wbicon-coin-yen:before {
  content: "\ea7c";
}
.wbicon-credit-card:before {
  content: "\ea7d";
}
.wbicon-calculator:before {
  content: "\ea7e";
}
.wbicon-lifebuoy:before {
  content: "\ea7f";
}
.wbicon-phone2:before {
  content: "\ea80";
}
.wbicon-phone-hang-up:before {
  content: "\ea81";
}
.wbicon-address-book:before {
  content: "\ea82";
}
.wbicon-envelop:before {
  content: "\ea83";
}
.wbicon-pushpin:before {
  content: "\ea84";
}
.wbicon-location2:before {
  content: "\ea85";
}
.wbicon-location22:before {
  content: "\ea86";
}
.wbicon-compass:before {
  content: "\ea87";
}
.wbicon-compass2:before {
  content: "\ea88";
}
.wbicon-map:before {
  content: "\ea89";
}
.wbicon-map2:before {
  content: "\ea8a";
}
.wbicon-history:before {
  content: "\ea8b";
}
.wbicon-clock:before {
  content: "\ea8c";
}
.wbicon-clock2:before {
  content: "\ea8d";
}
.wbicon-alarm:before {
  content: "\ea8e";
}
.wbicon-bell3:before {
  content: "\ea8f";
}
.wbicon-stopwatch:before {
  content: "\ea90";
}
.wbicon-calendar2:before {
  content: "\ea91";
}
.wbicon-printer2:before {
  content: "\ea92";
}
.wbicon-keyboard:before {
  content: "\ea93";
}
.wbicon-display2:before {
  content: "\ea94";
}
.wbicon-laptop:before {
  content: "\ea95";
}
.wbicon-mobile:before {
  content: "\ea96";
}
.wbicon-mobile2:before {
  content: "\ea97";
}
.wbicon-tablet:before {
  content: "\ea98";
}
.wbicon-tv:before {
  content: "\ea99";
}
.wbicon-drawer:before {
  content: "\ea9a";
}
.wbicon-drawer2:before {
  content: "\ea9b";
}
.wbicon-box-add:before {
  content: "\ea9c";
}
.wbicon-box-remove:before {
  content: "\ea9d";
}
.wbicon-download2:before {
  content: "\ea9e";
}
.wbicon-upload:before {
  content: "\ea9f";
}
.wbicon-floppy-disk:before {
  content: "\eaa0";
}
.wbicon-drive:before {
  content: "\eaa1";
}
.wbicon-database:before {
  content: "\eaa2";
}
.wbicon-undo2:before {
  content: "\eaa3";
}
.wbicon-redo2:before {
  content: "\eaa4";
}
.wbicon-undo22:before {
  content: "\eaa5";
}
.wbicon-redo22:before {
  content: "\eaa6";
}
.wbicon-forward:before {
  content: "\eaa7";
}
.wbicon-reply:before {
  content: "\eaa8";
}
.wbicon-bubble:before {
  content: "\eaa9";
}
.wbicon-bubbles:before {
  content: "\eaaa";
}
.wbicon-bubbles2:before {
  content: "\eaab";
}
.wbicon-bubble2:before {
  content: "\eaac";
}
.wbicon-bubbles3:before {
  content: "\eaad";
}
.wbicon-bubbles4:before {
  content: "\eaae";
}
.wbicon-user2:before {
  content: "\eaaf";
}
.wbicon-users:before {
  content: "\eab0";
}
.wbicon-user-plus:before {
  content: "\eab1";
}
.wbicon-user-minus:before {
  content: "\eab2";
}
.wbicon-user-check:before {
  content: "\eab3";
}
.wbicon-user-tie:before {
  content: "\eab4";
}
.wbicon-quotes-left:before {
  content: "\eab5";
}
.wbicon-quotes-right:before {
  content: "\eab6";
}
.wbicon-hour-glass:before {
  content: "\eab7";
}
.wbicon-spinner2:before {
  content: "\eab8";
}
.wbicon-spinner22:before {
  content: "\eab9";
}
.wbicon-spinner3:before {
  content: "\eaba";
}
.wbicon-spinner4:before {
  content: "\eabb";
}
.wbicon-spinner5:before {
  content: "\eabc";
}
.wbicon-spinner6:before {
  content: "\eabd";
}
.wbicon-spinner7:before {
  content: "\eabe";
}
.wbicon-spinner8:before {
  content: "\eabf";
}
.wbicon-spinner9:before {
  content: "\eac0";
}
.wbicon-spinner10:before {
  content: "\eac1";
}
.wbicon-spinner11:before {
  content: "\eac2";
}
.wbicon-binoculars:before {
  content: "\eac3";
}
.wbicon-search:before {
  content: "\eac4";
}
.wbicon-zoom-in2:before {
  content: "\eac5";
}
.wbicon-zoom-out2:before {
  content: "\eac6";
}
.wbicon-enlarge:before {
  content: "\eac7";
}
.wbicon-shrink:before {
  content: "\eac8";
}
.wbicon-enlarge2:before {
  content: "\eac9";
}
.wbicon-shrink2:before {
  content: "\eaca";
}
.wbicon-key2:before {
  content: "\eacb";
}
.wbicon-key22:before {
  content: "\eacc";
}
.wbicon-lock2:before {
  content: "\eacd";
}
.wbicon-unlocked:before {
  content: "\eace";
}
.wbicon-wrench:before {
  content: "\eacf";
}
.wbicon-equalizer:before {
  content: "\ead0";
}
.wbicon-equalizer2:before {
  content: "\ead1";
}
.wbicon-cog:before {
  content: "\ead2";
}
.wbicon-cogs:before {
  content: "\ead3";
}
.wbicon-hammer:before {
  content: "\ead4";
}
.wbicon-magic-wand:before {
  content: "\ead5";
}
.wbicon-aid-kit:before {
  content: "\ead6";
}
.wbicon-bug:before {
  content: "\ead7";
}
.wbicon-pie-chart:before {
  content: "\ead8";
}
.wbicon-stats-dots:before {
  content: "\ead9";
}
.wbicon-stats-bars:before {
  content: "\eada";
}
.wbicon-stats-bars2:before {
  content: "\eadb";
}
.wbicon-trophy2:before {
  content: "\eadc";
}
.wbicon-gift:before {
  content: "\eadd";
}
.wbicon-glass:before {
  content: "\eade";
}
.wbicon-glass2:before {
  content: "\eadf";
}
.wbicon-mug:before {
  content: "\eae0";
}
.wbicon-spoon-knife:before {
  content: "\eae1";
}
.wbicon-leaf:before {
  content: "\eae2";
}
.wbicon-rocket:before {
  content: "\eae3";
}
.wbicon-meter:before {
  content: "\eae4";
}
.wbicon-meter2:before {
  content: "\eae5";
}
.wbicon-hammer2:before {
  content: "\eae6";
}
.wbicon-fire:before {
  content: "\eae7";
}
.wbicon-lab:before {
  content: "\eae8";
}
.wbicon-magnet:before {
  content: "\eae9";
}
.wbicon-bin:before {
  content: "\eaea";
}
.wbicon-bin2:before {
  content: "\eaeb";
}
.wbicon-briefcase2:before {
  content: "\eaec";
}
.wbicon-airplane2:before {
  content: "\eaed";
}
.wbicon-truck:before {
  content: "\eaee";
}
.wbicon-road:before {
  content: "\eaef";
}
.wbicon-accessibility:before {
  content: "\eaf0";
}
.wbicon-target:before {
  content: "\eaf1";
}
.wbicon-shield:before {
  content: "\eaf2";
}
.wbicon-power:before {
  content: "\eaf3";
}
.wbicon-switch:before {
  content: "\eaf4";
}
.wbicon-power-cord:before {
  content: "\eaf5";
}
.wbicon-clipboard:before {
  content: "\eaf6";
}
.wbicon-list-numbered:before {
  content: "\eaf7";
}
.wbicon-list:before {
  content: "\eaf8";
}
.wbicon-list2:before {
  content: "\eaf9";
}
.wbicon-tree:before {
  content: "\eafa";
}
.wbicon-menu:before {
  content: "\eafb";
}
.wbicon-menu2:before {
  content: "\eafc";
}
.wbicon-menu3:before {
  content: "\eafd";
}
.wbicon-menu4:before {
  content: "\eafe";
}
.wbicon-cloud:before {
  content: "\eaff";
}
.wbicon-cloud-download:before {
  content: "\eb00";
}
.wbicon-cloud-upload:before {
  content: "\eb01";
}
.wbicon-cloud-check:before {
  content: "\eb02";
}
.wbicon-download22:before {
  content: "\eb03";
}
.wbicon-upload2:before {
  content: "\eb04";
}
.wbicon-download3:before {
  content: "\eb05";
}
.wbicon-upload3:before {
  content: "\eb06";
}
.wbicon-sphere:before {
  content: "\eb07";
}
.wbicon-earth:before {
  content: "\eb08";
}
.wbicon-link3:before {
  content: "\eb09";
}
.wbicon-flag:before {
  content: "\eb0a";
}
.wbicon-attachment:before {
  content: "\eb0b";
}
.wbicon-eye3:before {
  content: "\eb0c";
}
.wbicon-eye-plus:before {
  content: "\eb0d";
}
.wbicon-eye-minus:before {
  content: "\eb0e";
}
.wbicon-eye-blocked:before {
  content: "\eb0f";
}
.wbicon-bookmark:before {
  content: "\eb10";
}
.wbicon-bookmarks:before {
  content: "\eb11";
}
.wbicon-sun:before {
  content: "\eb12";
}
.wbicon-contrast:before {
  content: "\eb13";
}
.wbicon-brightness-contrast:before {
  content: "\eb14";
}
.wbicon-star-empty:before {
  content: "\eb15";
}
.wbicon-star-half:before {
  content: "\eb16";
}
.wbicon-star-full:before {
  content: "\eb17";
}
.wbicon-heart2:before {
  content: "\eb18";
}
.wbicon-heart-broken:before {
  content: "\eb19";
}
.wbicon-man:before {
  content: "\eb1a";
}
.wbicon-woman:before {
  content: "\eb1b";
}
.wbicon-man-woman:before {
  content: "\eb1c";
}
.wbicon-happy:before {
  content: "\eb1d";
}
.wbicon-happy2:before {
  content: "\eb1e";
}
.wbicon-smile:before {
  content: "\eb1f";
}
.wbicon-smile2:before {
  content: "\eb20";
}
.wbicon-tongue:before {
  content: "\eb21";
}
.wbicon-tongue2:before {
  content: "\eb22";
}
.wbicon-sad:before {
  content: "\eb23";
}
.wbicon-sad2:before {
  content: "\eb24";
}
.wbicon-wink:before {
  content: "\eb25";
}
.wbicon-wink2:before {
  content: "\eb26";
}
.wbicon-grin:before {
  content: "\eb27";
}
.wbicon-grin2:before {
  content: "\eb28";
}
.wbicon-cool:before {
  content: "\eb29";
}
.wbicon-cool2:before {
  content: "\eb2a";
}
.wbicon-angry:before {
  content: "\eb2b";
}
.wbicon-angry2:before {
  content: "\eb2c";
}
.wbicon-evil:before {
  content: "\eb2d";
}
.wbicon-evil2:before {
  content: "\eb2e";
}
.wbicon-shocked:before {
  content: "\eb2f";
}
.wbicon-shocked2:before {
  content: "\eb30";
}
.wbicon-baffled:before {
  content: "\eb31";
}
.wbicon-baffled2:before {
  content: "\eb32";
}
.wbicon-confused:before {
  content: "\eb33";
}
.wbicon-confused2:before {
  content: "\eb34";
}
.wbicon-neutral:before {
  content: "\eb35";
}
.wbicon-neutral2:before {
  content: "\eb36";
}
.wbicon-hipster:before {
  content: "\eb37";
}
.wbicon-hipster2:before {
  content: "\eb38";
}
.wbicon-wondering:before {
  content: "\eb39";
}
.wbicon-wondering2:before {
  content: "\eb3a";
}
.wbicon-sleepy:before {
  content: "\eb3b";
}
.wbicon-sleepy2:before {
  content: "\eb3c";
}
.wbicon-frustrated:before {
  content: "\eb3d";
}
.wbicon-frustrated2:before {
  content: "\eb3e";
}
.wbicon-crying:before {
  content: "\eb3f";
}
.wbicon-crying2:before {
  content: "\eb40";
}
.wbicon-point-up:before {
  content: "\eb41";
}
.wbicon-point-right:before {
  content: "\eb42";
}
.wbicon-point-down:before {
  content: "\eb43";
}
.wbicon-point-left:before {
  content: "\eb44";
}
.wbicon-warning2:before {
  content: "\eb45";
}
.wbicon-notification:before {
  content: "\eb46";
}
.wbicon-question2:before {
  content: "\eb47";
}
.wbicon-plus3:before {
  content: "\eb48";
}
.wbicon-minus2:before {
  content: "\eb49";
}
.wbicon-info:before {
  content: "\eb4a";
}
.wbicon-cancel-circle:before {
  content: "\eb4b";
}
.wbicon-blocked:before {
  content: "\eb4c";
}
.wbicon-cross:before {
  content: "\eb4d";
}
.wbicon-checkmark:before {
  content: "\eb4e";
}
.wbicon-checkmark2:before {
  content: "\eb4f";
}
.wbicon-spell-check:before {
  content: "\eb50";
}
.wbicon-enter:before {
  content: "\eb51";
}
.wbicon-exit:before {
  content: "\eb52";
}
.wbicon-play22:before {
  content: "\eb53";
}
.wbicon-pause:before {
  content: "\eb54";
}
.wbicon-stop:before {
  content: "\eb55";
}
.wbicon-previous:before {
  content: "\eb56";
}
.wbicon-next:before {
  content: "\eb57";
}
.wbicon-backward:before {
  content: "\eb58";
}
.wbicon-forward2:before {
  content: "\eb59";
}
.wbicon-play32:before {
  content: "\eb5a";
}
.wbicon-pause2:before {
  content: "\eb5b";
}
.wbicon-stop2:before {
  content: "\eb5c";
}
.wbicon-backward2:before {
  content: "\eb5d";
}
.wbicon-forward3:before {
  content: "\eb5e";
}
.wbicon-first:before {
  content: "\eb5f";
}
.wbicon-last:before {
  content: "\eb60";
}
.wbicon-previous2:before {
  content: "\eb61";
}
.wbicon-next2:before {
  content: "\eb62";
}
.wbicon-eject:before {
  content: "\eb63";
}
.wbicon-volume-high:before {
  content: "\eb64";
}
.wbicon-volume-medium:before {
  content: "\eb65";
}
.wbicon-volume-low:before {
  content: "\eb66";
}
.wbicon-volume-mute:before {
  content: "\eb67";
}
.wbicon-volume-mute2:before {
  content: "\eb68";
}
.wbicon-volume-increase:before {
  content: "\eb69";
}
.wbicon-volume-decrease:before {
  content: "\eb6a";
}
.wbicon-loop:before {
  content: "\eb6b";
}
.wbicon-loop2:before {
  content: "\eb6c";
}
.wbicon-infinite:before {
  content: "\eb6d";
}
.wbicon-shuffle:before {
  content: "\eb6e";
}
.wbicon-arrow-up-left:before {
  content: "\eb6f";
}
.wbicon-arrow-up2:before {
  content: "\eb70";
}
.wbicon-arrow-up-right:before {
  content: "\eb71";
}
.wbicon-arrow-right2:before {
  content: "\eb72";
}
.wbicon-arrow-down-right:before {
  content: "\eb73";
}
.wbicon-arrow-down2:before {
  content: "\eb74";
}
.wbicon-arrow-down-left:before {
  content: "\eb75";
}
.wbicon-arrow-left2:before {
  content: "\eb76";
}
.wbicon-arrow-up-left2:before {
  content: "\eb77";
}
.wbicon-arrow-up22:before {
  content: "\eb78";
}
.wbicon-arrow-up-right2:before {
  content: "\eb79";
}
.wbicon-arrow-right22:before {
  content: "\eb7a";
}
.wbicon-arrow-down-right2:before {
  content: "\eb7b";
}
.wbicon-arrow-down22:before {
  content: "\eb7c";
}
.wbicon-arrow-down-left2:before {
  content: "\eb7d";
}
.wbicon-arrow-left22:before {
  content: "\eb7e";
}
.wbicon-circle-up:before {
  content: "\eb7f";
}
.wbicon-circle-right:before {
  content: "\eb80";
}
.wbicon-circle-down:before {
  content: "\eb81";
}
.wbicon-circle-left:before {
  content: "\eb82";
}
.wbicon-tab:before {
  content: "\eb83";
}
.wbicon-move-up:before {
  content: "\eb84";
}
.wbicon-move-down:before {
  content: "\eb85";
}
.wbicon-sort-alpha-asc:before {
  content: "\eb86";
}
.wbicon-sort-alpha-desc:before {
  content: "\eb87";
}
.wbicon-sort-numeric-asc:before {
  content: "\eb88";
}
.wbicon-sort-numberic-desc:before {
  content: "\eb89";
}
.wbicon-sort-amount-asc:before {
  content: "\eb8a";
}
.wbicon-sort-amount-desc:before {
  content: "\eb8b";
}
.wbicon-command:before {
  content: "\eb8c";
}
.wbicon-shift:before {
  content: "\eb8d";
}
.wbicon-ctrl:before {
  content: "\eb8e";
}
.wbicon-opt:before {
  content: "\eb8f";
}
.wbicon-checkbox-checked:before {
  content: "\eb90";
}
.wbicon-checkbox-unchecked:before {
  content: "\eb91";
}
.wbicon-radio-checked:before {
  content: "\eb92";
}
.wbicon-radio-checked2:before {
  content: "\eb93";
}
.wbicon-radio-unchecked:before {
  content: "\eb94";
}
.wbicon-crop:before {
  content: "\eb95";
}
.wbicon-make-group:before {
  content: "\eb96";
}
.wbicon-ungroup:before {
  content: "\eb97";
}
.wbicon-scissors:before {
  content: "\eb98";
}
.wbicon-filter:before {
  content: "\eb99";
}
.wbicon-font:before {
  content: "\eb9a";
}
.wbicon-ligature:before {
  content: "\eb9b";
}
.wbicon-ligature2:before {
  content: "\eb9c";
}
.wbicon-text-height:before {
  content: "\eb9d";
}
.wbicon-text-width:before {
  content: "\eb9e";
}
.wbicon-font-size:before {
  content: "\eb9f";
}
.wbicon-bold:before {
  content: "\eba0";
}
.wbicon-underline:before {
  content: "\eba1";
}
.wbicon-italic:before {
  content: "\eba2";
}
.wbicon-strikethrough:before {
  content: "\eba3";
}
.wbicon-omega:before {
  content: "\eba4";
}
.wbicon-sigma:before {
  content: "\eba5";
}
.wbicon-page-break:before {
  content: "\eba6";
}
.wbicon-superscript:before {
  content: "\eba7";
}
.wbicon-subscript:before {
  content: "\eba8";
}
.wbicon-superscript2:before {
  content: "\eba9";
}
.wbicon-subscript2:before {
  content: "\ebaa";
}
.wbicon-text-color:before {
  content: "\ebab";
}
.wbicon-pagebreak:before {
  content: "\ebac";
}
.wbicon-clear-formatting:before {
  content: "\ebad";
}
.wbicon-table:before {
  content: "\ebae";
}
.wbicon-table2:before {
  content: "\ebaf";
}
.wbicon-insert-template:before {
  content: "\ebb0";
}
.wbicon-pilcrow:before {
  content: "\ebb1";
}
.wbicon-ltr:before {
  content: "\ebb2";
}
.wbicon-rtl:before {
  content: "\ebb3";
}
.wbicon-section:before {
  content: "\ebb4";
}
.wbicon-paragraph-left:before {
  content: "\ebb5";
}
.wbicon-paragraph-center:before {
  content: "\ebb6";
}
.wbicon-paragraph-right:before {
  content: "\ebb7";
}
.wbicon-paragraph-justify:before {
  content: "\ebb8";
}
.wbicon-indent-increase:before {
  content: "\ebb9";
}
.wbicon-indent-decrease:before {
  content: "\ebba";
}
.wbicon-share:before {
  content: "\ebbb";
}
.wbicon-new-tab:before {
  content: "\ebbc";
}
.wbicon-embed:before {
  content: "\ebbd";
}
.wbicon-embed2:before {
  content: "\ebbe";
}
.wbicon-terminal:before {
  content: "\ebbf";
}
.wbicon-share2:before {
  content: "\ebc0";
}
.wbicon-mail:before {
  content: "\ebc1";
}
.wbicon-mail2:before {
  content: "\ebc2";
}
.wbicon-mail3:before {
  content: "\ebc3";
}
.wbicon-mail4:before {
  content: "\ebc4";
}
.wbicon-amazon:before {
  content: "\ebc5";
}
.wbicon-google:before {
  content: "\ebc6";
}
.wbicon-google2:before {
  content: "\ebc7";
}
.wbicon-google3:before {
  content: "\ebc8";
}
.wbicon-google-plus:before {
  content: "\ebc9";
}
.wbicon-google-plus2:before {
  content: "\ebca";
}
.wbicon-google-plus3:before {
  content: "\ebcb";
}
.wbicon-hangouts:before {
  content: "\ebcc";
}
.wbicon-google-drive:before {
  content: "\ebcd";
}
.wbicon-facebook3:before {
  content: "\ebce";
}
.wbicon-facebook22:before {
  content: "\ebcf";
}
.wbicon-instagram2:before {
  content: "\ebd0";
}
.wbicon-whatsapp:before {
  content: "\ebd1";
}
.wbicon-spotify:before {
  content: "\ebd2";
}
.wbicon-telegram:before {
  content: "\ebd3";
}
.wbicon-twitter2:before {
  content: "\ebd4";
}
.wbicon-vine:before {
  content: "\ebd5";
}
.wbicon-vk:before {
  content: "\ebd6";
}
.wbicon-renren:before {
  content: "\ebd7";
}
.wbicon-sina-weibo:before {
  content: "\ebd8";
}
.wbicon-rss:before {
  content: "\ebd9";
}
.wbicon-rss2:before {
  content: "\ebda";
}
.wbicon-youtube2:before {
  content: "\ebdb";
}
.wbicon-youtube22:before {
  content: "\ebdc";
}
.wbicon-twitch:before {
  content: "\ebdd";
}
.wbicon-vimeo:before {
  content: "\ebde";
}
.wbicon-vimeo2:before {
  content: "\ebdf";
}
.wbicon-lanyrd:before {
  content: "\ebe0";
}
.wbicon-flickr:before {
  content: "\ebe1";
}
.wbicon-flickr2:before {
  content: "\ebe2";
}
.wbicon-flickr3:before {
  content: "\ebe3";
}
.wbicon-flickr4:before {
  content: "\ebe4";
}
.wbicon-dribbble:before {
  content: "\ebe5";
}
.wbicon-behance:before {
  content: "\ebe6";
}
.wbicon-behance2:before {
  content: "\ebe7";
}
.wbicon-deviantart:before {
  content: "\ebe8";
}
.wbicon-500px:before {
  content: "\ebe9";
}
.wbicon-steam:before {
  content: "\ebea";
}
.wbicon-steam2:before {
  content: "\ebeb";
}
.wbicon-dropbox:before {
  content: "\ebec";
}
.wbicon-onedrive:before {
  content: "\ebed";
}
.wbicon-github:before {
  content: "\ebee";
}
.wbicon-npm:before {
  content: "\ebef";
}
.wbicon-basecamp:before {
  content: "\ebf0";
}
.wbicon-trello:before {
  content: "\ebf1";
}
.wbicon-wordpress:before {
  content: "\ebf2";
}
.wbicon-joomla:before {
  content: "\ebf3";
}
.wbicon-ello:before {
  content: "\ebf4";
}
.wbicon-blogger:before {
  content: "\ebf5";
}
.wbicon-blogger2:before {
  content: "\ebf6";
}
.wbicon-tumblr:before {
  content: "\ebf7";
}
.wbicon-tumblr2:before {
  content: "\ebf8";
}
.wbicon-yahoo:before {
  content: "\ebf9";
}
.wbicon-yahoo2:before {
  content: "\ebfa";
}
.wbicon-tux:before {
  content: "\ebfb";
}
.wbicon-appleinc:before {
  content: "\ebfc";
}
.wbicon-finder:before {
  content: "\ebfd";
}
.wbicon-android:before {
  content: "\ebfe";
}
.wbicon-windows:before {
  content: "\ebff";
}
.wbicon-windows8:before {
  content: "\ec00";
}
.wbicon-soundcloud:before {
  content: "\ec01";
}
.wbicon-soundcloud2:before {
  content: "\ec02";
}
.wbicon-skype:before {
  content: "\ec03";
}
.wbicon-reddit:before {
  content: "\ec04";
}
.wbicon-hackernews:before {
  content: "\ec05";
}
.wbicon-wikipedia:before {
  content: "\ec06";
}
.wbicon-linkedin2:before {
  content: "\ec07";
}
.wbicon-linkedin22:before {
  content: "\ec08";
}
.wbicon-lastfm:before {
  content: "\ec09";
}
.wbicon-lastfm2:before {
  content: "\ec0a";
}
.wbicon-delicious:before {
  content: "\ec0b";
}
.wbicon-stumbleupon:before {
  content: "\ec0c";
}
.wbicon-stumbleupon2:before {
  content: "\ec0d";
}
.wbicon-stackoverflow:before {
  content: "\ec0e";
}
.wbicon-pinterest:before {
  content: "\ec0f";
}
.wbicon-pinterest2:before {
  content: "\ec10";
}
.wbicon-xing:before {
  content: "\ec11";
}
.wbicon-xing2:before {
  content: "\ec12";
}
.wbicon-flattr:before {
  content: "\ec13";
}
.wbicon-foursquare:before {
  content: "\ec14";
}
.wbicon-yelp:before {
  content: "\ec15";
}
.wbicon-paypal:before {
  content: "\ec16";
}
.wbicon-chrome:before {
  content: "\ec17";
}
.wbicon-firefox:before {
  content: "\ec18";
}
.wbicon-IE:before {
  content: "\ec19";
}
.wbicon-edge:before {
  content: "\ec1a";
}
.wbicon-safari:before {
  content: "\ec1b";
}
.wbicon-opera:before {
  content: "\ec1c";
}
.wbicon-file-pdf2:before {
  content: "\ec1d";
}
.wbicon-file-openoffice:before {
  content: "\ec1e";
}
.wbicon-file-word:before {
  content: "\ec1f";
}
.wbicon-file-excel:before {
  content: "\ec20";
}
.wbicon-libreoffice:before {
  content: "\ec21";
}
.wbicon-html-five:before {
  content: "\ec22";
}
.wbicon-html-five2:before {
  content: "\ec23";
}
.wbicon-css3:before {
  content: "\ec24";
}
.wbicon-git:before {
  content: "\ec25";
}
.wbicon-codepen:before {
  content: "\ec26";
}
.wbicon-svg:before {
  content: "\ec27";
}
.wbicon-IcoMoon:before {
  content: "\ec28";
}