input#s { padding: 4px 10px; }
#com_trans { width: 628px; }

#navigation ul {display:inline-block;}
#navigation ul {display:inline;}
#navigation ul li {float:left; display:block;}
#navigation ul li a { margin:0; }
ul.dropdown ul {
	visibility: visible;
	/*text-indent: -9999px;*/
}
/*li.sfhover ul {
	text-indent: 0;
}*/
#navigation, #navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#navigation li ul a {
	display: block;
	width: 8em;
}

#navigation li li {
	float: left;
	/*width: 10em;*/
}
#navigation li ul ul {
	margin: 0;
}
#navigation, #navigation ul {
	padding: 0;
	margin: 0;
	list-style: none; 
	line-height: 1;
}
#navigation li ul {
	position: absolute;
	/*width: 10em;*/
	left: -999em;
}

#navigation li:hover ul {
	left: 0;
}
#navigation li:hover ul ul, #navigation li.sfhover ul ul {
	left: -999em;
}
#navigation li:hover ul, #navigation li li:hover ul, #navigation li.sfhover ul, #navigation li li.sfhover ul {
	left: 0;
}
#navigation li li:hover ul, #navigation li li.sfhover ul {
	left: 100%;
}
#wb_ent_content {
	z-index: -1;
}




#navigation {text-align:center; padding:0;}
* html #navigation span { width: 1em; }

#searchform { margin:0;padding:0; }
#s { width: 196px }
#searchsubmit { line-height: 0; }

.subscribeLeft { width:90px; display:block; float:left; text-align:center; margin: 0 0 0 20px }
.subscribeRight { width:90px; display:block; float:right; text-align:center; margin: 0 20px 0 0 }