/*
Filename:     library.css                                                 
Description:  
Author:        
Change Log:
	July 29, 2011	[Jullie]set margin-top for the h5 inside the results div to -15px for IE7 only(*+html .results h5);
	July 4, 2011  [Jullie]removed float: left for #download; 
*/
/* LAYOUT */
#contentWrap { 
	background: #fff url('/wp-content/themes/enterprise/images/library-bg.png') top right repeat-y ;
	border-left: 1px solid #EFEFEF;
	background-color: #FFF !important;
}


 
#interface { width: 960px; margin: 0px auto 60px auto; clear: both; }
#top { padding: 15px 20px 10px 20px }
#leftCol { width: 310px; float: right; padding: 10px 0 0 0; }
#rightCol { width: 640px; float: left; padding: 10px 5px 20px 5px; }


/* TYPOGRAPHY */
h2 { margin: 0 0 10px 0 }
h4 { font-size: 120%; margin: 0 0 10px 15px; }
hr { clear: both }
.bold { font-weight: bold }


/* WIDGETS */
#subscribe { width: 280px; margin: 0 auto 20px auto; background: #fff url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x; padding: 5px 9px; text-align: left; background-size: 100% auto; /*border: 1px solid #eee;*/ }
.subscribeLeft { width:100px; display:block; float:left; text-align:center; margin: 0 0 0 30px }
.subscribeRight { width:100px; display:block; float:right; text-align:center; margin: 0 30px 0 0 }
#keyword_cloud { max-width: 278px; margin: 0 auto 20px auto; background: #ddd url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x; padding: 10px 10px 20px 10px; border: 1px solid #eee; }
#keyword_cloud h4{ font-size: 17.5px; text-transform: uppercase;  padding: 5px 5px 15px; color: #000; }
#backLink { float: left }
#library_link { margin-bottom: 20px }
#library_link a { font-size: 150% }
#library_link img { margin-right: 5px }


/* FORMS */
fieldset { -moz-border-radius: 4px; border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #aaa; background: #fff; /*width: 340px; padding: 20px;*/ margin: 20px auto; text-align: left; }
#advertiseForm label,
#contactForm label { /*width: 100px;*/ display: block; float: left; margin: 5px 0; }
input.styled,
textarea,
select { /*width: 220px;*/ margin: 5px 0; border: 1px solid #777; padding: 2px; }


/* ADVERTISEMENTS */
.adLibrary { margin: 0 auto 10px auto; }
#adActionDiv { max-width: 468px; height: 60px; margin: 0 auto 20px auto; }
#adActionDiv h4 { float: left; width: 100px; margin-right: 20px; }
#adAction { width: 468px; height: 60px; margin: 0 auto 20px auto; }
#ad9 { width: 468px; height: 60px; background-color: #ffffff; margin-bottom: 35px; border: 1px solid #aaa; cursor: pointer; }


/* VIDEO LISTS */
.list { height: 400px; overflow: auto; padding: 10px; }
.list li { padding: 15px 0; border-top: 1px solid #eee; clear: left; }
.list img { width: 96px; border: 1px solid #777; float: left; margin: 0 10px 5px 0; }
.list h5 { font-size: 110% }
.list p { color: #555 }
.list p.desc { /*clear: both;*/ margin: 5px 0 0 0; }
.list p.date,
.list p.tags { font-style: italic; font-size: 80%; margin: 2px 0 0 0; }
.list p.tags { color: #777 }
#vid_related h4 {
	font-size: small;
	border: none;
}


/* TAG AND SEARCH RESULTS */
.results { width: 630px; margin: 0 auto 20px auto; padding: 10px; text-align: left; overflow: auto; }
.results li { padding: 15px 0; border-top: 1px solid #eee; clear: left; }
.results li p { margin-bottom: 5px }
.results img { width: 96px; border: 1px solid #eee; float: left; margin: 0 10px 15px 0; }
.results h5 { font-size: 110% }
*+html .results h5 { margin-top: -15px; }
.results p a { color: #555 }
.results p.desc { clear: both; margin: 5px 0 0 0; }
.results p.date,
.results p.tags { font-style: italic; font-size: 80%; margin: 8px 0 0 0; }
.pageNav{height: 20px; margin: 35px 0px;}
#paginationLeft { float: left; display: inline; width: 30%; text-align: left; }
#paginationMid { float: left; display: inline; width: 30%; text-align: center; }
#paginationRight { float: right; display: inline; width: 30%; text-align: right; }
#linkList404 { padding: 0 25px }
input.listExpand { border: 0; border-top: 1px solid #aaa; display:block; clear:both; padding-top: 10px; color:#4D7D40; background:none; font-size: 120%; width: 100% }
input.listExpand:hover { cursor:pointer }
p.listExpand { border-top: 1px solid #aaa; display:block; clear:both; padding-top: 10px; font-size: 120%; color:#aaa }


/* LIBRARY CATEGORY/TOPIC SELECTORS */
#vid_topic {
 background: url("/wp-content/themes/enterprise/images/bg_box.gif") repeat-x scroll left top #DDDDDD;    
    text-align: left;
    //border: 1px solid #EEEEEE;
    margin: 0 auto 20px;
    padding: 10px 0 0;  
    width: 298px;
}


#vid_topic li.parent {
    //background: url("/wp-content/themes/enterprise/images/images/bg_box.gif") repeat-x scroll left top #ff;
    background: #fff;
    border-bottom: 1px solid #DDDDDD;
    margin: 0 auto;
    padding: 8px;
    text-align: left;
}

#categories li li {
    width: 235px;
}

#categories ul li {
    width: 258px;
    margin-left: 25px;
     
}

#categories ul li li {
	list-style: disc outside none;
}

#categories ul {
    margin-bottom: 10px
}



.selector img { float: left; margin-right: 5px; }
.selector { width: 278px; margin: 0 auto 20px auto; background: #ddd url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x; padding: 10px; text-align: left; border: 1px solid #eee; }
.selector h5 { font-size: 120%; color: #B91518; padding-left: 18px; }
.selector li.parent { background: #ddd url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x; margin: 0 auto 0 auto; text-align: left; padding: 10px; border: 1px solid #eee; }
.selector li ul { margin-left: 30px }
.selector li ul li { list-style: disc; font-size: 12px; font-family: Georgia,Arial,Serif; }
#vid_list { width: 500px; margin: 0 auto 20px auto; text-align: left; }
#vid_list li { clear: both; padding: 15px 0; border-top: 1px solid #eee; }
#vid_list img { border: 1px solid #eee; float: left; margin: 0 10px 15px 0; }
#vid_list a { font-size: 110% }
#vid_list a span { font-style: italic; font-size: 80%; }
span.tags, span.tags a { font-size: 90%; font-style: italic; color: #aaa; }


/* PAGE: VIEWING TIPS */
#viewingTips { text-align: left }
#viewingTips ul,
#viewingTips ol { margin: 0 0 10px 0 }
#viewingTips ol li { list-style-type: decimal; text-align: left; margin: 0 0 0 30px; padding: 0; }
#viewingTips ul li { list-style-type: disc; text-align: left; margin: 0 0 0 30px; padding: 0; }
#viewingTips h5 { color: #ed6368 }

/* PAGE: SITEMAP */
#sitemap_list li { margin: 10px 0 0 20px }
#sitemap_list li li li { list-style-type: disc; margin: 0 0 0 30px; }


/* PAGE: SINGLE VIDEO */
#video-info { 
	/*-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); 
	padding: 5px; 
	margin: 0 0 10px 0; */
	text-align: left; }
	.video-desc p { margin: 0; }
	.video-tags p { margin: 5px 5px 0 0 !important; font-weight: bold; display:inline-block; }
/* TAGS */
#video-tags { margin: 10px 0; text-align:left; }
/* ATTACHMENTS */
#attachments { 
	margin: 0 0 15px 0;
	text-align: left;
}
.attachmentIcon { height:20px; }
/* PLAYER */
#playerDiv { clear: both; margin: 0px 0 10px 0; }
#player { min-width: 128px; min-height: 72px; margin: 0; }
/* SHARE */
#share-box { margin: 0 0 5px 0; font-size: 11px; color: #bbb; }
#share { width: 309px; padding: 0; float: left; margin: 0; text-align: left; border-right: 0px solid #eee; display: block; clear: both; }
#share label { font-size: 11px; width: 70px; display: block; float: left; margin: 5px 0; color: #bbb; clear: both; }
#share input { margin: 5px 0 0 0; font-size: 8pt; width: 130px; }
/* DOWNLOAD */
#download { min-width: 200px; width: 80%; padding: 0 0 0 10px; margin: 0 auto 10px; text-align: left; }
#download h4 { font-size: 12px; color: #333; margin: 0; padding: 0; }
#download ul { clear: both }
#download a span { font-size: 80%; color: #777; }
#download img { margin: 0 0 5px 0 }
#download-links a { font-size: 12px; text-decoration: none; }
#need-help { margin: 0 0 3px 0 }
/* COMMENTS/TRANSCRIPT */
#com_trans { width: 640px; margin: 0 auto 30px auto; clear: both; }
h4#comments { border-bottom: 1px solid #eee; }
#commentsbox,
#transcript { overflow: auto; border: 1px solid #eee; clear: left; background: #fff; padding: 10px; }
.commentsbox li { background-color: #dde4f2; border-top: 1px solid #006490; padding: 10px; margin-bottom: 10px; }


/* COMMENTS/TRANSCRIPT TABS */
.usual { color: #111 }
.usual .idTabs li { list-style: none; float: left; }
.usual .idTabs ul li a { display: block!important; padding: 6px 10px!important; text-decoration: none!important; margin-left: 0; margin: 10px; color: #FFF; background: #999; }
.usual .idTabs a { border-top: 1px solid #999; border-left: 1px solid #999; border-right: 1px solid #999; display: block!important; padding: 6px 10px!important; text-decoration: none!important; margin-left: 0; color: #FFF; background: #999; }
.usual ul a:hover { color: #FFF; background: #777; }
.usual ul a.selected { margin-bottom: -10px; *margin-bottom:0; color: #000; background: #fff; border-bottom: 1px solid#fff; cursor: default; border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee; }

/* DISQUS */
.dsq-login-button { padding: 0 5px 0 0; display: inline; background: none; border: none; }
.dsq-request-user-info { background: #eee; -moz-border-radius: 4px; border-radius: 4px; -webkit-border-radius: 4px; padding: 10px; }
.dsq-button-small { background: #eee; -moz-border-radius: 4px; border-radius: 4px; -webkit-border-radius: 4px; border: 0; font-size: 80%; padding: 5px; }
.dsq-dc-logo { display: none }
.dsq-request-user-avatar { border: 2px solid #fff }
.dss-request-user-avatar img { width: 30px }
*:focus {outline: none;}