/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Oct-2014, 2:40:46 PM
    Author     : Lourice_2
*/
.container-fluid .post_div{
    height: auto;
    margin-bottom: 20px;
}
.post_div h3{
    margin-top: 0px;
}