@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans".ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-It.ttf);
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-Thin.ttf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Open Sans"-ThinIt;
	src: url(fonts/"Open Sans"-ThinIt.ttf);
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-Light.ttf);
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-LightIt.ttf);
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-MediumIt.ttf);
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-Semibold.ttf);
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-SemiboldIt.ttf);
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-BoldIt.ttf);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-Extrabold.ttf);
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/"Open Sans"-ExtraboldIt.ttf);
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-It.ttf);
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-Thin.ttf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-ThinIt.ttf);
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-Light.ttf);
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-LightIt.ttf);
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-MediumIt.ttf);
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-Semibold.ttf);
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-SemiboldIt.ttf);
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-BoldIt.ttf);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-Extrabold.ttf);
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: "Open Sans"Cond;
	src: url(fonts/"Open Sans"Cond-ExtraboldIt.ttf);
	font-style: italic;
	font-weight: 800;
}

body{
	background-image: none;
    background-repeat: no-repeat,repeat;
    background-size: 100%;
}

#hub-header-wrapper{
	max-width: 1060px;
   	width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #fff;
}
#wb-client-header-content{
	max-width: 1018px;
    margin: 0 auto;
    width: 100%;
    height: 110px;
    background-color: #fff;
}
#fms-head-left{
	float: left;
	margin-top: 18px;
}
#anfp-header-image{
	margin: 0px 0px 0px;
}
#hub-head-right{
    float: right;
   	max-width: 600px;
    width: 100%;
    text-align: right;
    margin-top: 26px;
}
#fms-head-left a, #fms-head-left .d-inline-block{
	display: inline-block;
}
#fms-head-left a{
    color: #FFFFFF;
    letter-spacing: 0.46px;
    margin-left: 0px;
}
#back-to-main-site-button{
    text-shadow: none;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #668F64;
    color: #fff;
    padding: 15px;
    max-width: 265px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    display: inline-block;
   font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
#back-to-sc-site-button{
    text-shadow: none;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #134F8F;
    color: #fff;
    padding: 15px;
    max-width: 265px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    font-family: "Open Sans";
    text-transform: uppercase;
    display: inline-block;
	font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
#searchDiv{
	width: 300px;
}
#back-to-main-site-button:hover{
	opacity: 0.8;
    color: white;
}
#return-undo-icon{
  	color: #2AAFB6;
    font-size: 18px;
    margin-right: 5px;
}
#searchformnav #s{
	display: block !important;
	width: 92%;
    margin: 0;
    border-radius: 0px;
    padding: 4px 10px;
}
#bitnami-banner,#subscribe-button{
	display: none !important;
}
#subscribe-link{
	display: block !important;
}
#wb-advance-search-icon-nav{
	right: 34px;
    position: relative;
    font-size: 16px;
    top: 7px;
}

/*sidebar override*/
#side-nav #vid_topic,#side-nav #subscribe-link{
	margin: 0px;
}

#side-nav .row-fluid ul.thumbnails li.span{
	margin: 0px;
}
@media (max-width: 767px){
	#side-nav #vid_topic, #side-nav #subscribe-link, div#wb_ent_sidebar1 #side-nav #podcast_topic{
		display: block !important;
    	margin: 0 auto !important;
	}
	#wb_ent_sidebar1 div#side-nav {
	    padding: 0px;
	}
	.featured-post-div .thumbnails{
		margin-left: 0px;
		text-align: center;
	}
	#wb_ent_content .h3-title{
		text-align: center;
	}
	
}
div#side-nav{
	padding: 0 0 0 27px;
}
div#cat-nav{
	display: none !important;
}
#wb_ent_sidebar1 #side-nav #vid_topic, 
#wb_ent_sidebar1 #side-nav #vid_topic_lang, 
#wb_ent_sidebar1 #side-nav #subscribe, 
#wb_ent_sidebar1 #side-nav .wbc-sidemenu-style, 
#wb_ent_sidebar1 #vid_by_channel_res, 
#wb_ent_sidebar1 #searchDiv .btn-custom {
    background-color: #134F8F;
    background-image: linear-gradient(to bottom, #134F8F, #134F8F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    transition: color .3s ease, border .3s ease, background .3s ease;
    font-family: "Open Sans", sans-serif !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;;
    border-radius: 0px;
    text-transform: capitalize !important;
    border-color: #D6D6D6;
    box-shadow: none;
}
#side-nav .wbc-sidemenu-style h5, .wbc-sidemenu-style h5 {
    text-shadow: none;
    font-style: normal;
    font-size: 16px !important;;
    border-radius: 0px;
    font-weight: 600 !important;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase !important;
}
#side-nav #subscribe h4#subscribeHeader:hover, #side-nav #categories a:hover, #side-nav #categories h5:hover, #vid_topic_lang li.parent:hover, #side-nav .wbc-sidemenu-style h5:hover {
    background-color: #134F8F !important;
    color: #ffffff !important;
}
#podcast_topic li.parent h5 a {
    padding: 0;
    width: auto;
    display: block;
}
#side-nav #pod_categories a:hover, #side-nav #pod_categories h5:hover, #vid_topic_lang li.parent:hover, #side-nav .wbc-sidemenu-style h5:hover {
    background-color: #134F8F !important;
    color: #ffffff !important;
}
#side-nav #vid_topic #categories ul li ul li h5, #side-nav #vid_topic #categories ul li ul li h5 a, #side-nav #vid_topic #categories ul li ul li ul li a, #side-nav #vid_topic #categories ul li ul li ul li ul li a {
    font-size: 16px;
    font-family: "Open Sans" !important;
    text-transform: uppercase;
}
#vid_topic #categories ul li ul li h5 label, #vid_topic #categories ul li ul li h5 a, #vid_topic #categories ul li ul li ul li a, #vid_topic #categories > ul > li > a{
	font-size: 14px !important;
    font-family: "Open Sans" !important;
    color: #555555;
    font-weight: 400;
}
#vid_topic #categories ul li ul li h5 label:hover, #vid_topic #categories ul li ul li h5:hover label, #vid_topic #categories ul li ul li h5 a:hover, #vid_topic #categories ul li ul li ul li a:hover, #vid_topic #categories ul li ul li h5:hover a{
	color: #fff;
}
#side-nav #vid_topic #categories ul li ul li:last-child {
    border-bottom: 0px !important;
}
div#podcast_topic li.nosubtopic h5 a {
    padding: 0;
    font-size: 14px !important;
    font-family: "Open Sans" !important;
    color: #555555;
    font-weight: 400;
}
#side-nav div.spacing{
	margin: 10px;
}
#wb_ent_sidebar1 #side-nav .thumbnails [class*="span"] img {
    margin-bottom: 10px;
}
#podcast_topic #pod_categories ul li h5.collapsed_boxarrow:after,
#podcast_topic #pod_categories ul li h5.expanded_boxarrow:after,
#vid_topic #categories ul li h5:after{
	/*
    margin-right: 0px;
    margin-left: -38px;
    font-size: 40px;
    */
}
/*sidebar override*/

/* navigation */
.navbar .nav > li > a, .dropdown-menu a {
    font-style: normal;
    line-height: 20px !important;
    font-family: Oswald !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 14px;
    text-transform: uppercase;
}
#wb-nav-viewing-tips, #wb-browse-all-videos-nav, #wb-responsive-nav-viewing-tips{
	display: none;
}
#header > a:first-child, .header > a:first-child {
   /*  background: rgba(0, 0, 0, 0) url(/wp-content/uploads/2020/08/atp-humb.jpg) no-repeat scroll center center !important; */
    top: 40px;
    left: 10px;
}
li.dropdown-submenu a {
    width: 100%;
}
.mm-list > li > a, .mm-list > li > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFF;
    display: block;
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}
.mm-list a, .mm-list a:hover {
    text-decoration: none;
    font-size: 15px;
    font-family: "Open Sans", sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
}
.mm-list > li > a:hover {
    background-image: -webkit-linear-gradient(top,#134F8F,#134F8F);
    -webkit-transition: background .1s linear;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #052049;
}
.dropdown-menu > li > a:hover{
	background-color: #134F8F;
}
li.dropdown-submenu a.mm-subopen:hover {
    background: none;
    background-color: transparent!important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #fff !important;
    /* background-color: #134F8F; */
    background-color: #5BC4BF;
    background-image: linear-gradient(to bottom,#5BC4BF,#5BC4BF);
    /* background-image: linear-gradient(to bottom,#134F8F,#134F8F); */
    background-repeat: repeat-x;
    margin-right: 0px;
}
/* navigation */

div#video-results ul li div.thumbnail a img, #all-videos div ul li div a img {
    max-height: 162px !important;
}

/* home */
#wb_ent_content .h3-title{
	font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #134F8F;
    line-height: 28px;
}

#mainContentVidList li div a h3{
	font-style: normal;
    font-weight: 600;
    line-height: 128.18%;
    font-size: 14px;
    color: #134F8F;
    font-family: "Open Sans" !important;
}
#mainContentVidList li div p{
	display: none;
}
#wb_ent_main div ul li p{
	font-size: 13px;
    color: #555555;
    font-family: "Open Sans" !important;
}
a.label{
	font-family: "Open Sans", sans-serif !important;
}
#loadVideoButton {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background:  #668F64;
    font-weight: 500;
	font-size: 16px;
    border-radius: 0px;
    width: 200px;
    border-radius: 0px;
    border: 1px solid #668F64;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    box-shadow: none;
}
#loadVideoButton:focus{
	outline: none;	
}
#loadVideoButton:hover{
	opacity: 0.8;
    color: white;
}
#mainContentVidList li.span4 div.thumbnail{
	min-height: 165px;
}

#video_list_main #tabs .ui-tabs-panel{
	height: 425px;
}

/* sharebar */
/*
.st_twitter_large .stLarge{
	background-image: url(https://d1lyb6qtu5lyp9.cloudfront.net/images/Twitter.png) !important;
}

 .st_facebook_large .stLarge{
 	background-image: url(https://d1lyb6qtu5lyp9.cloudfront.net/images/Facebook.png) !important;
 }
 
 .st_linkedin_large .stLarge{
 	background-image: url(https://d1lyb6qtu5lyp9.cloudfront.net/images/LinkedIn.png) !important;
 }
 
 .st_email_large .stLarge {
    background-image: url(https://d1lyb6qtu5lyp9.cloudfront.net/images/Email.png) !important;
}
*/
.st_twitter_large .stLarge, .st_facebook_large .stLarge, .st_linkedin_large .stLarge, .st_email_large .stLarge, .st_pinterest_large .stLarge {
    background-image: none !important;
}


.st_twitter_large .stLarge:before{
    content: "\f099";
    color:#fff;
    font-family: 'FontAwesome';
}

.st_facebook_large .stLarge:before{content: "\f09a";color:#fff;font-family: 'FontAwesome';}
.st_linkedin_large .stLarge:before{content: "\f0e1";color:#fff;font-family: 'FontAwesome';}
.st_email_large .stLarge:before{content:"\f0e0";color:#fff;font-family: 'FontAwesome';}
.st_pinterest_large .stLarge:before {content:"\f231";color:#fff;font-family: 'FontAwesome';}
.st_email_large .stLarge{font-family: 'FontAwesome';}


#sharebar .stButton {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 30px;
    line-height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#sharebarx .stButton {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 30px;
    line-height: 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
}
#sharebarx .stButton {
    background: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #134F8F;
    border-radius: 0px;
    width: 35px;
    height: 35px;
}

#sharebar .stButton, #sharebarx .stButton {
    background: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #134F8F;
    border-radius: 0px;
    width: 50px;
    margin-bottom: 5px;
}


#sharebar{
	/* top: 140px; */
}
#sharebar li #share-box{
	margin: 0 0 5px 6px !important;
    color: #134F8F;
    font-size: 14px;
    font-family: "Open Sans" !important;
}
#sharebarx #share-box{
	width: 100% !important;
}
/* vidpost */
#vid-post ul li h2{
	font-style: normal;
    line-height: 23px;
    font-family: "Open Sans" !important;
    font-weight: bold;
    font-size: 18px;
    color: #134F8F;
}
#vid-post ul li.desc-position p{
	color: #000;
    font-family: "Open Sans" !important;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    line-height: 17px;
}
.tags, .tags-title, .link, a.label, .more-link{
	font-family: "Open Sans" !important;
    font-size: 12px;
    color: #134F8F;
}
a.label:hover, .more-link:hover{
	text-decoration: underline;
}
div#video_list_main{
	display: block !important;
}

/* video list widget */
#tabs #nav-tabs-ul li a {
    margin-bottom: -1px;
    margin-right: 0px;
    margin-left: 0px;
	font-size: 16px;
    font-weight: 600 !important;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase !important;
    color: #000;
}
div#video_list_main ul#nav-tabs-ul > li > a:hover {
    background-image: -webkit-linear-gradient(top,#134F8F,#134F8F);
    border-color: #FFF #FFF transparent;
    color: #FFF;
}
#video_list_main #nav-tabs-ul > .ui-state-active > a, #video_list_main #nav-tabs-ul > .ui-state-active > a:hover, #video_list_main #nav-tabs-ul > li > a:focus {
    background-color: #FFF;
    color: #000;
    border-left: 0px !important; 
    border-right: 0px !important;
    border-bottom: none;
    cursor: pointer !important;
    outline: none;
    font-weight: 600 !important;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase !important;
}
div#video_list_main ul#nav-tabs-ul > li > a:hover {
    background-image: -webkit-linear-gradient(top,#134F8F,#134F8F);
    border-color: #FFF #FFF transparent;
    color: #FFF;
}

li.ui-state-active a:hover{
	cursor: pointer !important;
	background-image: -webkit-linear-gradient(top,#FFF,#FFF) !important;
	color: rgb(43, 101, 165) !important;
}
li.ui-state-active a{
	cursor: pointer !important;
	color: #777 !important;
}

#video_list_main #tabs div li a h5{
    text-transform: capitalize;
	font-weight: 600;
    line-height: 128.18%;
    font-size: 14px;
    color: #134F8F;
    font-family: "Open Sans" !important;
}

#video_list_main #tabs div li a h5:hover{
	/*color: #f48024;*/
}

div#video_list_main {
    height: 505px;
    display: block !important;
}
div#video_list_main div div ul {
    max-width: 920px;
    width: 100%;
}
@media (min-width: 1250px){
	div#video_list_main div div ul {
		padding-left: 20px;
	}
}
div#video_list_main div div ul li {
    max-width: 40%;
    width: 100%;
    min-width: 85px;
    min-height: 210px;
    float: left;
    clear: none;
    padding: 15px 15px;
    margin: 0 6px;
}

p#video-desc-inner{
	display: none;
}

@media only screen and (max-width: 925px) and (min-width: 767px){
	div#video_list_main div div ul li {
	    max-width: 40%;
	    width: 100%;
	}
}

@media (max-width: 660px){
	div#video_list_main div div ul li {
	    max-width: 40%;
	    width: 100%;
	}
	div#video_list_main div div ul li {
	    min-height: 210px;
	}
}
@media (max-width: 481px){
	div#video_list_main div div ul li {
	    max-width: 85%;
	    width: 100%;
	}
	div#video_list_main div div ul li {
	    height: auto;
	}
}

@media (max-width: 480px){
	div#playerDiv {
	    clear: both;
	    margin: 10px 0 10px 0px;
	}
}

/* category page */
#wb-channel-content li div a h3,
#video-results ul li div a h3,
#all-videos div ul li div a h3{
	font-style: normal;
    text-transform: capitalize;
	font-weight: 600;
    line-height: 128.18%;
    font-size: 1rem;
    color: #134F8F;
    font-family: "Open Sans" !important;
}

#paginationRight a, #paginationLeft a{
	color: #fff;
    text-decoration: none;
    background: #134F8F;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0px;
    font-family: "Open Sans" !important;
}

#viewing-tips div .pagetitle,
#all-videos div h1.pagetitle{
	font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 128.18%;
    color: #134F8F;
    font-family: "Open Sans" !important;
}
@media (max-width: 767px){
	#video-results #wb-channel-content li div.thumbnail a img {
	    max-width: 288px;
	    width: 100%;
	}
	#video-results #wb-channel-content li div.thumbnail, #video-results #wb-channel-content li div a h3, #all-videos div ul li div.thumbnail, #all-videos div ul li div.span7 a h3, #video-results ul li div.thumbnail, #video-results ul li div.span7 a h3 {
	    text-align: center;
	    margin-bottom: 10px;
	}
	
}
div#video-results ul li div, #all-videos div ul li div {
    border: none;
    box-shadow: none;
}
span.more-link {
    font-variant: normal;
}

/* contact form */
#cSubmit{
	font-family: "Open Sans", sans-serif;
    text-shadow: none;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #134F8F;
    color: #fff;
    padding: 15px !important;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}
#contactForm input.styled, #contactForm textarea, #contactForm select {
    width: 97% !important;
}
#viewing-tips h1{
	font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 128.18%;
    color: #134F8F;
    font-family: "Open Sans" !important;
}
#viewing-tips p{
	font-family: "Open Sans", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    line-height: 22px;
}
#contactForm fieldset div label{
	font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.18%;
    color: #134F8F;
    font-family: "Open Sans" !important;
    text-transform: capitalize;
}
#viewing-tips #contactForm fieldset div .styled,
#viewing-tips #contactForm fieldset div #cQuestion{
	padding: 5px;
}
#header {
    background: #134F8F;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
    min-height: 40px;
    padding: 10px 50px;
}
#wbLeaderboardsw{
	margin-bottom: 10px;
}
/* custom footer CSS */
#client-upper-footer{
	width: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: right;
    height: 100px;
}
#client-upper-footer div#client-upper-content{
	max-width: 1018px;
    margin: 0 auto;
    width: 100%;
	
}
#client-upper-footer div#client-upper-content img{
	max-width: 175px;
    margin: 16px 0;
    float: left;
}
#client-upper-footer div#client-upper-content div{
	display: inline-block;	
	margin-top: 24px;
	margin-left: 15px;
}
#client-lower-content{
	max-width: 1018px;
    width: 100%;
    margin: 0 auto;
}
#client-lower-content p{
	margin: 0;
    padding: 8px 0;
}
#client-lower-footer{
	color: #eee;
}
@media (max-width: 530px){
	#client-upper-footer {
	    width: 100%;
	    margin: 0 auto;
	    color: #fff;
	    text-align: center;
	    height: auto;
	}
	#client-upper-footer div#client-upper-content img {
	    max-width: 175px;
	    margin: 16px 0;
	    float: none;
	}
	#client-upper-footer div#client-upper-content div{
		display: block;	
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding: 15px 0;
	}
}

/* Generic Hub Styling */
#back-to-sc-site-button {
	font-family: "Open Sans", sans-serif !important;
    background-color: #468DB5 !important;
    border-color: #468DB5 !important;
}
