/* CSS Document */
/*
Filename:      site-style.css                                                 
Description:   
Author:        
Change Log:
 June 13, 2011  [Jullie]modified padding for tabs
 June 15, 2011  [Jullie]changed the padding on top and bottom of the #navTabs .dir .dir a; changed the left-padding on 
 						the #leftCol .gradBox h4
 						
*/

/* Base Elements /////////////////////////////////////////////////////////////*/
html,
body { background-color: #fff }
body {
    font-size: small;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
h1,
h3,
h4,
h5,
h6,
input,
p,
ul { text-align: left; }

h2,
h2 p {
    font-size: 140%;
    /*color: #295a2d;*/
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    text-transform: none;
}
p { margin: 10px 0 }
img { z-index: 500 }

h1{
	border: medium none;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: none;
	margin: 0 0 10px;	
}

#video-tags a {
	color: #DF2B2A;
}

a {
    color: #8b8989;
    text-decoration: none;
    font-family: Arial, sans-serif !important;
}
a:hover { text-decoration: underline }
strong { font-weight: bold }
input { padding: 2px }
.clear { clear: both }
/* Background Elements ///////////////////////////////////////////////////////*/
#wrapper {
    background: #fff;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    border: none;
}
#contentWrap {
    width: 960px;
    margin: auto;
    background-color: #eee;
}
#wb_ent_content {
    /*border: 1px solid #efefef;
    border-top-color: #efefef; */
    border-bottom: 0;
    /*Minimum height fast hack*/
    min-height:600px;
  	height:auto !important;
  	height:600px;
  	border-left: none;
}
/*#behindInterface { width: 960px; height: 100%; padding: 0 0 0 0; margin: 0px; clear:both;  background-color: yellow; }*/
#top { padding: 10px 20px 10px 20px }

/* Content Elements //////////////////////////////////////////////////////////*/
/* Replaced by banner; only appears without style */
/*#header {
    width: 960px;
}
.top { background-position: top }
.bottom { background-position: bottom }
/*#header {
	padding: 0;
	position: relative;
	background: #fff;
	display: block;
	overflow: hidden;
}*/
#header h1 { 
	text-indent: -9999px;
	height: 74px;
	width: 382px;
	background: url('/wp-content/themes/enterprise/images/header.jpg') top left no-repeat;
	float: left;
	display:block;
	position: relative;
}

/* Main Navigation ///////////////////////////////////////////////////////////*/
#navigation {
	width: 960px;
    clear:both;
    position: relative;
}
	#navigation li {
	    position: relative;
	    margin: 8px 5px 0 0;
	}
	*html #navigation a { display: inline-block } /* IE 6 Hack */
	#navigation a, #navigation span {
	    color: #fff;
	    padding: 5px 15px 3px 15px;
	    background: #DF2B2A;
	    text-decoration: none;
	    display: block;
	    position:relative;
	    -moz-border-radius-topright: 4px;
	    border-top-right-radius: 4px;
	    -webkit-border-top-right-radius: 4px; 
	    -moz-border-radius-topleft: 4px;
	    border-top-left-radius: 4px;
	    -webkit-border-top-left-radius: 4px;
	}
	
	#navTabs > ul > li > a{
		-webkit-margin-before: 1px;
		-webkit-margin-after: 0px;		
	}	

	#navigation .dir a {
		background: #DF2B2A url('/wp-content/themes/enterprise/images/nav-arrow-down.png') 6px 50% no-repeat;
		padding-left: 25px;;
	}
	#navigation a:hover { background-color: #FB9A33; }
	#navigation a.current { background-color: #FB9A33; }

	#navTabs {
		width: 952px;
	    background: #DF2B2A url('/wp-content/themes/enterprise/images/nav_grad.jpg') bottom left repeat-x;
	    position: relative;
	    padding: 3px 0 0 7px;
	    border-bottom: 0px solid #aaa;
	    height: 33px;
	}
		#navTabs ul {
		}
			#navTabs li {
				float: left;
			}
			#navTabs li li {
 				width: 155px;
 				margin:0;
			}
			#navTabs .dir .dir a {
 				background-image: url('/wp-content/themes/enterprise/images/nav-arrow-right.png');
 				background-position: 140px 50%;
 				/*background-image: none;*/
 				padding-bottom: 6px;
 				padding-top: 8px;
 				background-repeat: no-repeat;
 				-moz-border-radius: 0;
 				border-radius: 0;
 				-webkit-border-radius: 0;
				
			}
			#navTabs .dir .dir ul li{
			   width: 200px;
			}			
			#navTabs .dir .dir li a {
				background-image: none;
			}
			
			#navTabs .dir .dir ul li a {
			   padding-left: 15px;
			   padding-right: 10px;
			   
			}
			
         #navTabs li li li {
             border-bottom: 1px solid #C8E392;
         }			
			
         #navTabs .dir .dir .shortList {
             width: 85px;
         }
         #navTabs .dir .dir .shortList > a {
             background-position: 68px 50%;
         }
         #navTabs .dir .dir .wideList {
             width: 295px;
         }				
	
	#searchDiv { 
		float: right;
		width: 270px;
		margin:5px 10px 0 0;
	}
	#searchDiv div {
		background: url('/wp-content/themes/enterprise/images/search-bg.png') top right no-repeat;		
		width: 268px;
		padding: 5px 0 0 0;
	}
	#s {
		border: none;
		background: transparent;
		width: 210px;
		margin-left: 6px;
		padding-top: 6px;
		float:left;
    box-shadow: none;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		#s {
			padding-top: 6px;
		}
	}	
	#searchsubmit {
		border: none;
		background: url('/wp-content/themes/enterprise/images/search-button.png') top right no-repeat;
		text-indent: -9999px;
		width: 39px !important;
		height: 25px;
		font-size:1px;
	}

	#rssIcon {
		float:right;
		margin-top:2px;
		padding:5px 17px 0 0;
	}
		#rssIcon img {
			height:32px;
		}


#leftCol .gradBox {
    width: 298px; margin: 0 auto 20px auto; background: #ddd url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x; padding: 10px 0 0 0; text-align: left; border: 1px solid #eee;
}
	#leftCol .gradBox h4 {
		padding: 0 10px 0 0;
	}
	#leftCol .gradBox div {
		padding: 0 10px 10px 10px;
	}
	
	*+html #leftCol #vid_related #related h5, *+html #leftCol #vid_related #latest h5 {
		margin-top: -15px;
	}
	
#submit_content li {
    font-size: 80%;
    list-style-type: disc;
    margin-left: 10px;
    padding-left: 0px;
}
.errors { color: #f00 }
#comments.navigation { display: none }
#email_signup {
    width: 450px;
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    top: 160px;
    left: 50%;
    margin: 0 0 0 -235px;
    background: #fff;
    padding: 15px;
    text-align: left;
    display: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #aaa;
}
#emailSignupForm fieldset {
    border: 1px solid #000;
    background: #fff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    margin: 0;
}
#emailSignupClose { float: right }
*:focus {outline: none;}

#video-desc img{
	margin: 0px 10px 10px 0px;
	float: left;	
	overflow: auto;
}

.cVidPrefixMain{
	overflow: hidden; 
	display: inline; 
	background-color: grey; 
	font-family: sans-serif; 
	font-style: normal; 
	color: rgb(255, 255, 255); 
	font-weight: bold;
	margin: auto 0px; 
	vertical-align: top; 
	font-size: 15px; 
	width: 123px; 
	padding: 3px 10px; 
	border-radius: 4px 4px 4px 4px;				
}

.subs-h4{
background: url("/wp-content/themes/enterprise/images/sidebarCollapseArrowDownGray.png") no-repeat scroll 255px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: center;
    
}

/*Links*/
a:hover{
text-decoration: none;
}

#consent-msg{
font-size:small;
margin-bottom:10px;
}

#wb_ent_main .pagetitle{
    font-size: 24px;
    padding: 0;
    margin-top: 0px;
}
#wb_ent_main .page-header .pagetitle{
    padding:0;
}
#wb_ent_main .page-header{
    margin-top: 5px;
}

#wb_ent_content .video-list-li h3{
    margin-top:0px;
}

#wb_ent_content #mc_embed_signup h2{
    font-weight: normal;
    font-size: 16px;
    margin:0;
}

#contactForm #cSubmit{
    padding: 5px 20px;
    font-size: 16px;
    margin-top: 10px;
}

#keyword_cloud .label-important[href]{
    background-color: transparent;
}