/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Dec-2014, 1:23:12 PM
    Author     : Lourice_2
*/
html body{
    background-color: transparent;
}

#theme-options-wrap input{
width: 600px;
}
#theme-options-wrap  input[type="checkbox"], #theme-options-wrap  input[type="radio"]{
width: 20px
}
#theme-options-wrap textarea{
width: 600px;
height: 100px;
margin: 5px 0;
}
#theme-options-wrap label{
width: 150px;
padding: 5px 0;
}
.colorscheme-div .input-group-addon{    
    width: auto;    
}
.colorscheme-div .color-label,
#theme-options-wrap .colorscheme-div label{
    float:left;
    width: 200px;    
}
.colorscheme-div .input-group{
    float: left;
    margin: 10px 0;   
}


