	.wb-check-image-pop{
	    display: none;
    	width: 34px;
    	margin-right: 5px;
	}
	#wbc-video-page #share,
	#wbc-video-page #download{
		display: none;
	}
	#wb-share-download-widget{
		background-color: #f8f8f8;
	    padding: 10px;
	    border-radius: 5px;
	}
	#wb-share-download-widget{
		margin-top: 45px;
    	margin-bottom: 30px;
    	width: 98%;
    	margin-left: 0px;
	}
	#share-option-h{
		text-align: right;
		line-height: 35px;
		font-weight: 600;
	}
	.embed-box{
		width: 98%;
    	height: 85px;
    	padding: 4px;
    	border-radius: 3px;
    	background-color: #fff !important;
    	margin-bottom: 5px;
	}
	#wb-permalinkBox{
		height: 20px;
	}
	
	#wb-select-embed-download{
	    /* font-weight: 600; */
	    max-width: 240px;
	    margin: 0 auto;
	    width: 100%;
	    background-color: #fff;
        background-image: linear-gradient(to bottom, #fff, #fff); 
        height: 34px;
    	padding: 6px 12px;
    	font-size: 15px;
     }
	
	.wb-copy-embed-button{
		color: #fff;
	    background-color: #337ab7;
	    border-color: #204d74;
	    background-image: linear-gradient(to bottom, #337ab7, #337ab7);
	    height: 36px;
	}
	
	.wb-copy-embed-button:hover{
		color: #fff;
	    background-color: #337ab7;
	    border-color: #204d74;
	    background-image: linear-gradient(to bottom, #337ab7, #337ab7);
	    height: 36px;
	    transition: unset;
	}
	
	.wb-download-div label{
	    font-weight: 600;
	    font-size: 13px;
	}
	
	.wb-download-post-video-div div a{
		color: #337ab7;
	}
	
	.wb-download-post-video-div div a:hover{
		text-decoration: underline;
	}
	
	.wb-download-div label.wb-download-lbl{
		text-align: left;
	}
	

	#wb-share-div{
		text-align: center;
	}
	#wb-select-embed-download:hover{
		cursor: pointer;
	}
	.wb-download-post-video-div{
		text-align: center;
		font-size: 13px;
	}
	.wb-download-div{
		display: none;
		margin-top: 20px;
	}
	.wb-copy-embed-button{
		float: right;
	}
	.wb-tooltip {
	    position: relative;
	    display: inline-block;
	    opacity: 1;
	    float: right;
	    margin-top: 3px;
	}
	.wb-tooltip .tooltiptext {
	    visibility: hidden;
	    width: 140px;
	    background-color: #555;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px;
	    position: absolute;
	    z-index: 1;
	    bottom: 150%;
	    left: 50%;
	    margin-left: -75px;
	    opacity: 0;
	    transition: opacity 0.3s;
	}
	
	.wb-tooltip .tooltiptext::after {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #555 transparent transparent transparent;
	}
	
	.wb-tooltip:hover .tooltiptext {
	    visibility: visible;
	    opacity: 1;
	}
	.wb-icon-download img{
		width: 32px !important;
    	height: 32px !important;
	}
	.wb-icon-download:hover{
		text-decoration: none;
	}