/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Jul-2015, 3:58:38 PM
    Author     : Lourice_2
*/

/* NEW NAV LOOK */
.navbar-inner{
    border-radius: 0;
    background-color: transparent;
    background-image: none;    
    border-top: 0px solid #dadada;
    border-bottom: 0px solid #dadada;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    
    
}
.navbar .nav > li > a{
    padding: 10px 20px 10px 0px;
}
.navbar .nav > li > a:hover{
    color: #23527c;
}
.navbar .nav > li > a,
.dropdown-menu a{
    font-size: 10pt;
    color: #444;
    text-transform: uppercase;
    font-family: "Source Sans Pro", "Open Sans", Arial, sans-serif !important;
}
/*
#wb-nav{
    margin-top: 10px !important;
}
*/
.dropdown-menu{
    margin: 0;
    padding: 0;    
}
#navinavi .dropdown-menu a{
    width: auto;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: transparent;
}
.dropdown-submenu > .dropdown-menu{
    border-radius: 0;
}
.navbar .nav > li > .dropdown-menu::before,
.navbar .nav > li > .dropdown-menu::after{
    border: 0;
}
.dropdown-submenu > .dropdown-menu{
    margin: -1px 0 0;
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus{
    box-shadow: none;
    background-color: transparent;
    color: #23527c;
}

/*remove the background image */
#searchDiv div{
    background-image: none;
    width: 100%;
}
#searchform input, #searchform .btn{
    border-radius: 0;    
}
#searchDiv{
    margin: 0;
}
#searchform .input-append{
    float: right;
}
#s{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding-top: 4px;
}
#s:focus{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;    
}
/*Sidebar Arrows*/
.expanded_boxarrow:after {
    content:          ' \25BE';
    float: right;
    margin-right:     5px;
    margin-left:      -10px;
}
.collapsed_boxarrow:after {
    content:          ' \25B8';
    float: right;
    margin-right:     5px;
    margin-left:      -10px;
}

/* sidebar button css */
#side-nav .wbc-sidemenu-style h5, 
.wbc-sidemenu-style h5{
    text-shadow: none;
}
#side-nav .vtul li.parent, 
#wb_ent_main .vtul li.parent  {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #dddddd;
    margin: 0 auto;    
    text-align: left;
}
#side-nav .wbc-sidemenu-style .vtul li h5:hover, 
#wb_ent_main .wbc-sidemenu-style .vtul li h5:hover{
    background-color:  #225b90;
    color: #fff;
}
#side-nav .wbc-sidemenu-style h5:hover, 
#side-nav .wbc-sidemenu-style ul a:hover, 
#wb_ent_main .wbc-sidemenu-style ul a:hover, 
#wb_ent_main .wbc-sidemenu-style h5:hover{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #225b90 !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #ffffff;
    text-decoration: none;
}
#shop-sidebar .wbc-sidemenu-style .vtul li h5, 
#side-nav .wbc-sidemenu-style .vtul li h5, 
#wb_ent_main .wbc-sidemenu-style .vtul li h5{
    color: #000;
    text-transform: none;

}

#side-nav #subscribe #subscribeContent {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 10px 0 10px 0px;
    text-shadow: none;
}
#mm-m0-p0 .dropdown2 a:first-child::before {
    content: "Browse by Channels";
}

#side-nav #categories a:hover, 
#side-nav #categories h5:hover {
    background-color: #225b90;
    color: #ffffff;
    text-shadow: none;
}

#wbc-sidemenu-style .subs-h {
    padding: 5px 10px;
}

#mc_embed_signup form{
    padding : 0 !important;
}
#side-nav .row-fluid [class*="span"]:first-child {
    margin-left: 2.27%;
}
#categories .subs-h{
    background-image: none !important;
}
#side-nav #subscribe {
    padding: 0;
    width: 298px;
}
#side-nav h4#subscribeHeader {
    //padding: 8px;
    text-shadow: none;
}
#side-nav #subscribe h4#subscribeHeader:hover, 
#side-nav #categories a:hover, 
#side-nav #categories h5:hover, 
#vid_topic_lang li.parent:hover {
    background-color: #225b90 !important;
    color: #ffffff !important;
}

#side-nav #vid_topic, 
#side-nav #vid_topic_lang, 
#side-nav #subscribe, 
#side-nav .wbc-sidemenu-style, 
#vid_by_channel_res,
#searchDiv .btn-custom{
    background-color: #18417c;
    background-image: linear-gradient(to bottom, #225b90, #18417c);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12pt;
}
#side-nav .wbc-sidemenu-style .subs-h {
    color: #fff;
}


#side-nav #subscribeContent > div {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 80px;
    float: none;
}
#side-nav #subscribeContent > #subsaboutText{
    text-align: center;
    width: 100%;
}
#side-nav #vid_topic .subTopicList{
    padding: 0;
}
#vid_topic .subTopicList a{ 
    font-family: Oswald,Arial,sans-serif !important;
}
#side-nav #vid_topic .subTopicList a{
    padding: 5px 0;
}
#side-nav #vid_topic .subTopicList a{
    padding-left: 40px;
}
/* Second level nav */
.wbc-sidemenu-style ul > li > ul> li > ul > li {
    border-top: 1px solid #dadada;

}
.input-append, .input-prepend{
    margin:0;
}
#cat-nav span, #cat-nav select{
    text-transform: uppercase;        
}

/* Video list Widget */
#nav-tabs-ul > li > a{
    padding: 10px;   
}

/*Contact page css fix*/
@media screen and (max-height: 575px){
#rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

@media (max-width:480px){
  #contactForm fieldset{
    margin: 20px auto 0;
  }
  #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
  .g-recaptcha div{
  max-width: 280px;
  }
 
} 
@media (max-width:375px){
  #contactForm{
    max-width: 300px;
    margin: 0 auto;
  }
  .rc-anchor-normal .rc-anchor-checkbox-label{
  width: 112px;
  }
  .form-style fieldset{
  max-width: 300px;
  }
}


@media (max-width:360px){

  
  #contactForm fieldset div{
  display: inline-block;
  max-width: 245px;
  }
  
}