#all-content-wrapper {
min-width:1240px;
}

#cat-nav #prependedInput {
padding-bottom:0;
padding-top:0;
}

#main .h3-title {
font-size:21px;
line-height:25px;
}

#mainContentVidList h3 {
font-size:18px;
line-height:20px;
}

/*IE8 span object*/
.ie8 #container1 span{
width: 100%;
}


.ie8 h3{
    line-height: 20px;
}
/* sidebar */

#wb_ent_content #wb_ent_sidebar1 h4{
    font-weight: normal;    
}

#categories ul{
    margin-bottom: 0;    
}

#wb_ent_content ul li{
    list-style-type: none !important;
}
#side-nav {
padding:0 30px;
}

#video-thumbnails .thumbnail {
height:350px;
}

#vid-post #player object {
width:100%;
}

#vid_topic {
background:url(/wp-content/themes/enterprise/images/bg_box.gif) repeat-x scroll left top #FFF;
border:1px solid #EEE;
text-align:left;
width:300px;
margin:0;
padding:0;
}



h4#subscribeHeader {
cursor:pointer;
font-size:17.5px;
text-align:center;
text-transform:uppercase;
}

#wb_ent_sidebar1 {
//border: 1px solid blue!important;
margin-left:0!important;
//width: 320px;
}

#wb_ent_sidebar1 #vid_topic, #wb_ent_sidebar1 #archiveWidgetDiv, #wb_ent_sidebar1 #polls-widget, #wb_ent_sidebar1 #keyword_cloud, #wb_ent_sidebar1 #about{
    margin-left: 3.5641%;
    border: 1px solid #cccccc;
}

#wb_ent_sidebar1 #subscribe{
  margin-left: 3.5641%;  
    
}




#subscribeContent div{
    float: left;
    width: 110px;
    
}

#subscribeContent {
    display: none;
    height: 90px;
    margin-left: 30px;
    overflow: hidden;
    text-align: center;
}

#leftCol #subscribe .subsIconDiv {
          padding: 0px;
    }
    h4#subscribeHeader {
        /*background:url("/images/sidebarCollapseArrowDownGray.png") no-repeat scroll 255px 0 transparent;*/
       cursor:pointer;
       text-align:center;
       text-transform:uppercase;
       font-size:17.5px;
       color:#000;
       //padding-bottom: 10px;
    }
   .ie8 #subscribe {       
    background: url("/wp-content/themes/enterprise/images/bg_box.gif") repeat-x scroll left top #FFFFFF;
    margin: 0 auto 20px;
    padding: 3px 9px;
    text-align: left;
    width: 278px;
    }
    h4#subscribeHeader:hover {
       color: #FF0000;
    }
    
    #subscribe img {
    margin: 5px 10px 0;
    width:60px;
    height:60px;
}

#side-nav{
    padding-left: 15px;
    padding-right: 15px;
}

#wb_ent_sidebar1 {
    margin-left: 2.0141%;
    border: 1px solid blue;
}

#categories ul li {
    margin-left: 0;
    width: 282px;
}
#vid_topic #categories ul li li {
  list-style: none;
}




.btnwb {
  
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  
  margin-bottom: 0;
  
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  color: #000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fff;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0 !important ;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
/*Contact*/
#contactForm label {
width:100px;
}

#wb_ent_content,#main {
overflow:hidden;
}



/* Video list widget */
#cat-nav #prependedInput{
   width: 150px; 
}

#video_list_main div div ul li {
    max-width: 275px;
}

/*Client specific for footer*/
#bottom{
width: 1040px !important;
}

#mainContentVidList {
    margin: 0;
}

/* Naylor Sponsor Pages */
#wb_ent_content {
    background-color: #fff;
}

#wb_ent_content {
    //min-height: 0;
}

#wb_ent_main {
    padding: 0 10px;
    margin: 0 auto !important;
}

#sectionNav {
    min-height: 32px;
    margin: 10px 0 10px;
 /*width: 900px;*/;
}

#wb_ent_content #sectionNav ul li, #wb_ent_content #sectionNav ul li a {
    display: inline-block;
    width: 206px;
    height: 32px;
    padding-bottom: 10px;
}

.section a {
    margin-bottom: 20px;
}

#wb_ent_content #sectionNav ul li a {
    display: inline-block;
    width: 206px;
    height: 25px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-top: 7px;
    color: #fff;
    font-weight: bold;
    background: url('/wp-content/themes/enterprise/images/sponsorTempNavBg2.png') repeat-x;
}

#wb_ent_content #sectionNav ul li a:hover {
    text-decoration: none;
}

#wb_ent_content #sectionNav ul li a.currentPage {
    background: url('/wp-content/themes/enterprise/images/sponsorTempNavBg1.png') repeat-x;
}

#wb_ent_content #sectionNav ul li a:hover {
    background: url('/wp-content/themes/enterprise/images/sponsorTempNavBg1.png') repeat-x;
}

#wb_ent_content h1, #pageContents h2, #wb_ent_content h3, #wb_ent_content p {
    color: #2f2f2f;
}

#wb_ent_content h1 {
    font-size: 26px;
    //margin-left: 10px;
    margin-bottom: 0px;
    color: #4c637a;
}

#wb_ent_content h2 {
    font-size: 22px;
    margin: 0 0 20px;
    color: #306092;
}

#wb_ent_content h4 {
    text-align: center;
    //font-weight: bold;
    margin: 5px 0px 2px;
}

#wb_ent_content p {
    font-size: 15px;
    margin: 0 0 20px;
    line-height: 20px;
}

#wb_ent_content ul.listUl {
    width: 900px;
    margin-left: 15px;
}

#wb_ent_content ul li {
    font-size: 15px;
    list-style: disc outside;
    //margin: 0px 0;
}

#bannerSoln {
    width: 900px;
 /*float: left;*/;
}

#videoContent {
    clear: both;
}

#benefitsDiv {
    width: 550px;
    float: left;
    margin-bottom: 75px !important;
}

#wb_ent_main #apfScreenshot{
    margin: 30px 0 10px;
 /*float: right; */;
}

#wb_ent_content #centerMessage {
    width: 575px;
    height: 50px;
    margin: 25px auto 0;
    background-color: #d9e5ee;
    color: #243c5f;
    font-size: 18px;
    clear: both;
    font-weight: bold;
    padding: 25px 47px;
}

#wb_ent_content #vidEverywhere {
    float: right;
    margin: 45px 0 10px;
}

#wb_ent_content #embedDivMain {
    width: 630px;
    height: 250px;
    margin: 50px auto 55px;
}

#wb_ent_content .embedDiv {
    width: 300px;
    float: left;
    font-size: 15px;
}

#wb_ent_content #buttonsDiv {
    margin: 0 auto;
 /*height: 55px;*/
    overflow: auto;
    width: 900px;
}

#buttonsDiv a {
    font-weight: bold;
    background: url("/images/sponsorTempButtonBg.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 15px;
    height: 19px;
    margin: 0 6px 0 0;
    padding: 19px 0;
    width: 294px;
}

#buttonsDiv a:hover {
    background: url('/images/sponsorTempButtonBg.png') no-repeat 0 -58px;
    text-decoration: none;
}

#buttonsDiv a:active {
    background: url('/images/sponsorTempButtonBg.png') no-repeat 0 -116px;
}

#wb_ent_content span.bold {
    font-weight: bold;
    color: #2a3f50;
}

#wb_ent_content em {
    font-style: italic;
}

.classname {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #79bbff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #469df5;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 24px;
    text-decoration: none;
}

.classname:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
    background: -moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
    background-color: #4197ee;
}

.classname:active {
    position: relative;
    top: 1px;
}

/* Video Solution */
#wb_ent_content #centerMessage{
   width: 575px;
   height: 50px;
   margin: 25px auto 0;
   background-color: #d9e5ee;
   color: #243c5f;
   font-size: 18px;
   clear: both;
   font-weight: bold;
   padding: 25px 47px;
}

#wb_ent_content #vidEverywhere{
   float: right; 
   margin: 45px 0 10px;
}

#wb_ent_content #embedDivMain{
   width: 630px;
   height: 250px;
   margin: 50px auto 55px;
}

#wb_ent_content .embedDiv{
   width: 300px;
   float: left;
   font-size: 15px;
}

#vs-msg{
   margin-left: 20px;       
}

/* Video Prod */
 #videoTopics{
        /*width: 636px;*/
        float: left;
    }

    #videoCreation{
        clear: both;
    }


#v #centerMessage{
        width: 575px;
        height: 50px;
        margin: 25px auto 0;
        background-color: #d9e5ee;
        color: #243c5f;
        font-size: 18px;
        clear: both;
        font-weight: bold;
        padding: 25px 47px;
    }

    #wb_ent_content #vidEverywhere{
        float: right; 
        margin: 45px 0 10px;
    }

    #wb_ent_content #embedDivMain{
        width: 630px;
        height: 250px;
        margin: 50px auto 55px;
    }

    #wb_ent_content .embedDiv{
        width: 300px;
        float: left;
        font-size: 15px;
    }
    
     #wb_ent_content #playerBefore{
        float: left;
        height: 200px;
        /*width: 250px;*/
        color: #22547d;
        font-size: 18px;
        font-weight: bold;
        /*margin-bottom: 40px;*/
        text-align: left;
    }

    #wb_ent_content #playerAfter{
        float: left;
        height: 360px;
        /*width: 572px;*/
        color: #22547d;
        font-size: 18px;
        font-weight: bold;
        /*margin-bottom: 40px;*/
        text-align: left;
    }

    



    #videoTopics{
        margin-top: 70px !important;
    }



    #wb_ent_content .playersDiv div, #wb_ent_content .playersDiv object{
        margin-top: 5px;
    }

    #wb_ent_content #playerBefore.playersDiv{
        float: left;
    }

    #wb_ent_content #playerAfter.playersDiv{
        float: left;
    }



    #wb_ent_content #tableDiv ul li{
        margin: 5px 0;
    }

    #tableDiv{
        /*width: 923px;   */
        /*margin-bottom: 55px !important;*/
        clear: both;
    }

    #tableDiv table{
        text-align: left;
        font-size: 15px;
        /*border: 2px solid #cacaca;*/   
    }

    #tableDiv table ul{
        margin-left: 20px;
    }

    #tableDiv table ul.clear li{
        list-style: none;
    }

    #tableDiv table ul.clear li li{
        list-style: disc outside;
        margin-left: 10px;
    }

    #tableDiv tr th{
        font-size: 23px;
        font-weight: bold;
        vertical-align: middle;
        color: #193a5d;
    }

    #tableDiv tr th{
        padding: 23px 18px;
        /*border: 2px solid #193a5d;*/
        font-size: 23px;      
    }

    #tableDiv tr td{
        padding: 23px 0;
        /*border: 2px solid #cacaca;*/
    }

    #tableDiv tr td div{    
        padding-left: 30px;
        /*width: 610px;*/
    }

    #tableDiv tr.evenRow{
        background-color: #cae4ff;
    }

    #tableDiv table thead th{
        padding: 9px 15px;
        color: #fff;
        font-size: 24px;
    }

    #tableDiv table thead tr{
        /*background: url('/images/sponsorTempTableHead.png') repeat-x #3c9bff;*/
        background: #3c9bff;      
    }

    #tableDiv table thead tr th{
        text-align: center;
    }

    #wb_ent_content span.bold{
        font-weight: bold;
        color: #2a3f50;
    }

    #wb_ent_content #tableDiv tr td span{   
        color: #00356e;
    }
    
    /*Re-added css Recaptcha*/



.recaptchatable td img {
    display: block;
}
.recaptchatable .recaptcha_r1_c1 {
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 -63px;
    background-color: rgba(0, 0, 0, 0);
    height: 9px;
    width: 318px;
}
.recaptchatable .recaptcha_r2_c1 {    
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -18px 0px;
    background-color: rgba(0, 0, 0, 0);
    height: 57px;
    width: 9px;
}
.recaptchatable .recaptcha_r2_c2 {    
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -27px 0;
    background-color: rgba(0, 0, 0, 0);
    height: 57px;
    width: 9px;
}
.recaptchatable .recaptcha_r3_c1 {    
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-color: rgba(0, 0, 0, 0);
    height: 63px;
    width: 9px;
}
.recaptchatable .recaptcha_r3_c2 {
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -18px -57px;
    background-color: rgba(0, 0, 0, 0);
    height: 6px;
    width: 300px;
}
.recaptchatable .recaptcha_r3_c3 {
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -9px 0;
    background-color: rgba(0, 0, 0, 0);
    height: 63px;
    width: 9px;
}
.recaptchatable .recaptcha_r4_c1 {
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -43px 0;
    background-color: rgba(0, 0, 0, 0);
    height: 49px;
    width: 171px;
}
.recaptchatable .recaptcha_r4_c2 {
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -36px 0;
    background-color: rgba(0, 0, 0, 0);
    height: 57px;
    width: 7px;
}
.recaptchatable .recaptcha_r4_c4 {
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -214px 0;
    background-color: rgba(0, 0, 0, 0);
    height: 57px;
    width: 97px;
}
.recaptchatable .recaptcha_r7_c1 {
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -43px -49px;
    background-color: rgba(0, 0, 0, 0);
    height: 8px;
    width: 171px;
}
.recaptchatable .recaptcha_r8_c1 {
    background: url("http://www.google.com/recaptcha/api/img/red/sprite.png") no-repeat scroll -43px -49px rgba(0, 0, 0, 0);
    background-image: url("http://www.google.com/recaptcha/api/img/red/sprite.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -43px -49px;
    background-color: rgba(0, 0, 0, 0);
    height: 8px;
    width: 25px;
}
.recaptchatable .recaptcha_image_cell center img {
    height: 57px;
}
.recaptchatable .recaptcha_image_cell center {
    height: 57px;
}
.recaptchatable .recaptcha_image_cell {
    background-color: #FFFFFF;
    height: 57px;
}
#recaptcha_area, #recaptcha_table {
    width: 318px !important;
}
.recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th {
    border: 0 none !important;
    border-collapse: collapse !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle !important;
}
.recaptchatable * {
    border: 0 none;
    bottom: auto;
    color: #000000;
    font-family: helvetica,sans-serif;
    font-size: 8pt;
    left: auto;
    margin: 0;
    padding: 0;
    position: static;
    right: auto;
    top: auto;
}
.recaptchatable #recaptcha_image {
    margin: auto;
    position: relative;
}
.recaptchatable #recaptcha_image #recaptcha_challenge_image {
    display: block;
}
.recaptchatable #recaptcha_image #recaptcha_ad_image {
    display: block;
    position: absolute;
    top: 0;
}
.recaptchatable img {
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.recaptchatable a, .recaptchatable a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    color: #0000FF;
    cursor: pointer;
    font-weight: normal;
    outline: medium none;
    padding: 0 !important;
    text-decoration: none;
}
.recaptcha_input_area {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 45px !important;
    margin-left: 7px !important;
    margin-right: 7px !important;
    position: relative !important;
    width: 153px !important;
}
.recaptchatable label.recaptcha_input_area_text {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    bottom: auto !important;
    height: auto !important;
    left: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    position: static !important;
    right: auto !important;
    top: auto !important;
    width: auto !important;
}
.recaptcha_theme_red label.recaptcha_input_area_text, .recaptcha_theme_white label.recaptcha_input_area_text {
    color: #000000 !important;
}
.recaptcha_theme_blackglass label.recaptcha_input_area_text {
    color: #FFFFFF !important;
}
.recaptchatable #recaptcha_response_field {
    bottom: 7px !important;
    font-size: 10pt;
    margin: 15px 0 0 !important;
    padding: 0 !important;
    position: relative !important;
    width: 153px !important;
}
.recaptcha_theme_blackglass #recaptcha_response_field, .recaptcha_theme_white #recaptcha_response_field {
    border: 1px solid #808080;
}
.recaptcha_theme_red #recaptcha_response_field {
    border: 1px solid #CCA940;
}
.recaptcha_audio_cant_hear_link {
    color: #000000;
    font-size: 7pt;
}
.recaptchatable {
    line-height: 1 !important;
}
#recaptcha_instructions_error {
    color: #FF0000 !important;
}
.recaptcha_only_if_privacy {
    float: right;
    text-align: right;
}
#recaptcha-ad-choices {
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
#recaptcha-ad-choices img {
    height: 15px;
}
.recaptcha-ad-choices-collapsed {
    display: block;
    height: 15px;
    width: 30px;
}
.recaptcha-ad-choices-expanded {
    display: none;
    height: 15px;
    width: 75px;
}
#recaptcha-ad-choices:hover .recaptcha-ad-choices-collapsed {
    display: none;
}
#recaptcha-ad-choices:hover .recaptcha-ad-choices-expanded {
    display: block;
}
.recaptcha_is_showing_audio .recaptcha_only_if_image, .recaptcha_isnot_showing_audio .recaptcha_only_if_audio, .recaptcha_had_incorrect_sol .recaptcha_only_if_no_incorrect_sol, .recaptcha_nothad_incorrect_sol .recaptcha_only_if_incorrect_sol {
    display: none !important;
}

.ie8 .no-padding{
    margin: 0 auto;
    max-width:960px;
    padding: 0 10px;
}

.ie8 #wb_ent_content{
    padding: 10px !important;
}

/*ieblock fix*/
#stwrapper
{display:none !important;}







