/* #Media Queries================================================== */
@media (max-width: 350px) { 
  .recaptchatable #recaptcha_image #recaptcha_challenge_image{
    max-width:200px;
}
#recaptcha_image{
    max-width:240px !important;
}
}

@media (max-width: 480px) { 
    #subscribe-button .btn { top: 0px }
    #subscribe-button { }
    #video-thumbnails #mainContentVidList .thumbnail { height: 225pt }
    #video-thumbnails  .thumbnail p { font-size: 0.8em }
    .fieldset-style {
        padding: 0px;
        border: 1px solid #ddd;
    }
    #wb_ent_main {
        padding: 15px !important;
        overflow: hidden;
    }
    #playerDiv {
        clear: both;
        margin: 10px 0 10px -10px;
    }
    .no-padding .thumbnails { padding: 10px }
    .pageNav { padding: 10px }
    #side-nav .row-fluid [class*="span"]:first-child { margin-left: 0 }
    #wb_ent_content .h3-title {
        line-height: 20px;
        font-size: 15pt;
    }
    #wb_ent_content h3 {
        font-size: 14pt;
        line-height: 22px;
    }
    .outer-container { left: 5px }
    #recaptcha_area,
    #recaptcha_table { max-width: 240px !important }
    #comments { width: 300px !important }
    #contactPar fieldset {
       // padding: 0 !important;
        margin: 0 !important;
    }
    #contactForm input.styled,
    #contactForm textarea,
    #contactForm select { display: block; margin-bottom: 20px; }
    

 #cat-nav [class*="span4"] {
  margin-left: 2.1%;
}

#viewingTips{
padding: 10px;
}

#featured:before, #main:before, #featured_below:before{
    width: 0 !important;    
}
#addAmbassadorForm fieldset{
padding: 0 5px;
margin-left:-10px;
//width: 320px;
}


.form-style fieldset {
    max-width: 320px;
    padding: 15px 10px;
}

}





@media (min-width: 480px) { 
  
}

@media (max-width: 767px) { 
    /*iPhone 4*/
    #subscribe-button .btn {
        top: 0px;
        padding: 5px 60px 5px 20px;
    }
    #subscribe-button #subs-icon a, #subscribe-button #subs-icon #subs-text{
        color: #333;
    }
    #subscribe-button { margin: 0 auto }
    #video-thumbnails h3 { line-height: 25px }
    h3 { line-height: 25px }
    #video-thumbnails #mainContentVidList  .thumbnail { height: auto; }
    .fieldset-style {
        padding: 0px;
        border: 1px solid #ddd;
    }
    #advertiseForm { width: 80% }
    #advertiseForm fieldset {
        padding: 0px;
        width: 80%;
        margin-left: -10px;
    }
    #advertiseForm .form-content { }
    #side-nav .row-fluid [class*="span"]:first-child { margin-left: 0 }
    #wb_ent_main {
        padding: 10px;
        overflow: hidden;
    }
    #contactPar fieldset {
        //padding: 0 !important;
        margin: 0;
    }
    #advertiseForm label,
    #contactForm label {
        display: block;
        padding-right: 10px;
        border: none;
    }
         #cat-nav [class*="span4"] {
  margin-left: 2.1%;
}
#mainContentVidList{
    margin: 2.56%;
    }
    
#viewingTips, #video-desc-inner, #video-post-page ul#sharebarx, #contactPar{
padding:10px;
}

.sidebar-banner, .naylorAd{
//max-width:300px;
//margin: 0 auto;  
}

#wb_ent_sidebar1 #side-nav .thumbnails [class*="span"]{
  max-width:300px;
margin: 0 auto;  
}


#addAmbassadorForm{
padding-left: 0;
}

.notif-msg{
width: 250px;
margin: 10px 0;
}

#cat-nav .span4 {
    margin-left:0;
}

#cat-nav #prependedInput {
    width: 90%;
}


    #cat-nav .input-prepend {
    width: 90%;
}

#mainContentVidList .thumbnail{
   border: none;
   border-bottom: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: none;
    display: block;
    line-height: 20px;
    padding: 4px;
   text-align: center;
   
}

#video-thumbnails  .thumbnail p, #video-thumbnails h3{
        text-align: center;
    }
   
    
}
@media (max-width: 979px) { 
    #wb_ent_main { overflow: hidden }
    //#video-thumbnails  .thumbnail { height: 290pt }
    #video-thumbnails  .thumbnail p { font-size: 0.8em; }
    #video-thumbnails h3 {
        line-height: 18px;
        font-size: 14px;
       
    }
    #wb_ent_content h3 {
        line-height: 22px;
        font-size: 18px;
    }
    
     #cat-nav #prependedInput {
    width: 90%;
}
    #cat-nav .input-prepend {
    width: 90%;
}


.thumbnail p, .thumbnail h3{
text-align:center;
}

#cat-nav .span4 {
    padding-bottom: 10px;
}
    
    
    
}
@media (min-width: 768px) and (max-width: 979px) { 
    /*iPad*/
    #wb_ent_main { overflow: hidden }
    #video-results .thumbnail { margin-right: 0px }
    #video-results .span9 {
        padding: 0 5px;
        margin-left: 0;
    }
    #side-nav .btn-group > .btn:first-child { margin-left: 2.76243% }
    #subscribe-button #subs-icon {
        top: -175px;
        float: right;
        right: -10px;
    }
    
    #subscribe-button .btn {
        top: -70px;
        float: right;
        right: -10px;
    }
    #page .jumbotron { margin: 0 }
    #video-thumbnails h3 {
        line-height: 20px;
        font-size: 16px;
    }
    h3 {
        line-height: 20px;
        font-size: 16px;
    }
    .no-padding h3 {
        line-height: 20px;
        font-size: 20px;
    }
    //#video-thumbnails .thumbnail { height: auto; min-height:200pt; }
    #video-thumbnails  .thumbnail p { font-size: 0.8em }
    #cat-nav #prependedInput {
        -moz-box-sizing: border-box;
        min-height: 30px;
        width: 63%;
    }
    .row-fluid .span10 { width: 65.9574% }
    #wb_ent_sidebar1 {
    margin-left: 1.21091%;
}
    #wb_ent_content .h3-title {
        line-height: 25px;
        font-size: 16pt;
    }
    #contactForm fieldset {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #AAAAAA;
        border-radius: 4px;
        margin: 20px auto;
        padding: 10px;
        text-align: left;
        float: none;
    }
    #contactForm label {
        width: 100%;
        display: block;
    }
    select { width: 220px }
    #contactForm input.styled,
    #contactForm textarea,
    #contactForm select { width: 100%;}//280px }
    
        #mainContentVidList{
    margin: 0;
    }
    
    #disqus_thread{
padding: 25px !important;
}

.thumbnail p, .thumbnail h3{
text-align:left;
}

#side-nav .thumbnails{
    margin-left: 0;
}

  
}

@media (min-width: 960px) { 
.thumbnail p, .thumbnail h3{
text-align:left;
}

#featuredStill{
  width: 640px;
}
}
@media (min-width: 980px) { 
    #wb_ent_main { overflow: hidden }
    #wb_ent_sidebar1 .btn-group > .btn,
    .btn-group > .popover,
    #wb_ent_sidebar1  .btn-group > .dropdown-menu { margin-left: 2.5641% }
    #subscribe, #keyword_cloud { margin-left: 2.5641% !important }
    #cat-nav #prependedInput {
        -moz-box-sizing: border-box;
        min-height: 30px;
        width: 72%;
    }
    #subscribe-button .btn {
        top: -70px;
        float: right;
        right: 10px;
    }
    #video-thumbnails h3 {
        line-height: 25px;
        font-size: 18px;
    }
    #wb_ent_content h3 {
        line-height: 22px;
        font-size: 14pt;
    }
    #wb_ent_content .h3-title {line-height: 25px; font-size: 17pt;}
    //#video-thumbnails  .thumbnail { min-height: 200pt }
    #wb_ent_sidebar1 .marginleft { margin-left: 2.5641% }
    #side-nav #archiveWidgetDiv { margin: 0px 5px 10px }
    //#contactForm label { width: 100px }
    select { width: 220px }
    #contactForm fieldset {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #AAAAAA;
        border-radius: 4px;
        margin: 20px auto;
        padding: 20px;
        text-align: left;
        float: none;
    }
        #mainContentVidList{
    margin: 0;
    }
    
    #disqus_thread{
padding: 25px !important;
}
    
    /*#searchDiv div {width: 238px;}#s{width:180px;}#searchDiv {width:240px;}*/
}
@media (min-width: 1024px) and (max-width: 1250px) { 
    #wb_ent_content { overflow: hidden }
    //#video-thumbnails .thumbnail { height: 240pt }
    #cat-nav #prependedInput {
        -moz-box-sizing: border-box;
        min-height: 30px;
        width: 65%;
    }
    .navbar-inner { padding: 0 }
    .row-fluid .span10 { width: 65.9574% }
    #wb_ent_sidebar1 marginleft { margin-left: 2.5641% }
    #side-nav #archiveWidgetDiv { margin: 0px 5px 10px }
    #contactForm label { width: 100px }
    #contactForm fieldset {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #AAAAAA;
        border-radius: 4px;
        margin: 20px auto;
        padding: 20px;
        text-align: left;
        float: none;
    }
    #side-nav .thumbnails{
    margin-left: 0;
}
#featuredStill{
  width: 640px;
  }
  


    /*#searchDiv div {width: 258px;}#s{width:200px;}#searchDiv {width:260px;}*/
}
@media (min-width: 1200px) {
    #mainContentVidList .thumbnail p, #mainContentVidList .thumbnail h3{
text-align:left;
}
    #wb_ent_content { overflow: hidden }
    #wb_ent_sidebar1 { margin-left: 1.0141% }
    #wb_ent_sidebar1 .btn-group > .btn,
    .btn-group > .popover,
    #wb_ent_sidebar1  .btn-group > .dropdown-menu { margin-left: 2.5641% }
    #video-thumbnails h3 {
        line-height: 22px;
        font-size: 14pt;
    }
    #wb_ent_content h3,
    .thumbnails h3 {
        line-height: 22px;
        font-size: 14pt;
    }
    #wb_ent_content .h3-title { font-size: 17pt;line-height:25px; }
    #side-nav { padding: 0 0 0 10px }
    #wb_ent_sidebar1 .marginleft { margin-left: 2.5641% }
    #side-nav #archiveWidgetDiv { margin: 0px 5px 10px }
    #cat-nav #prependedInput {
        -moz-box-sizing: border-box;
        min-height: 30px;
        /*width: 82%;*/ 
    }
   // #contactForm label { width: 100px }
    #contactForm input.styled,
    #contactForm textarea,
    #contactForm select { width: 100%;}//250px 
    #contactPar fieldset { float: none }
    select { width: 220px }
    #contactForm fieldset {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #AAAAAA;
        border-radius: 4px;
        margin: 20px auto;
        padding: 20px;
        text-align: left;
        float: none;
    }
    
    #branding #menu-wrapper{
    width: 1060px !important;
}

    #contactForm input.styled,
    #contactForm textarea,
    #contactForm select { width: 100%;}//280px 


  #featuredStill{
  width: 640px;
}
}

@media (max-width: 320px) {
    #video-thumbnails  .thumbnail p, #video-thumbnails h3{
        text-align: left;
    }   
}

#video-thumbnails  .thumbnail { min-height: 100pt }