/*
File name: dropdown css
Purpose: CSS for the side bar video library and subscribe

Created: November 29, 2013
*/
.dropdown-container nav, .dropdown-container  ul{
margin: 0;
padding: 0;
}
.dropdown-container a {
text-decoration: none;

}

.dropdown-container {
    width: 100%;
    max-width: 300px;
    margin: 0 0 0 2.5641%;
}
.toggleDropdownMenu {
    display:  none;
     text-align: center;
    text-transform: uppercase;
    font-size: 17.5px;
}

.dropdown-container .dropdown-nav {
    list-style: none;
     *zoom: 1;
    
}
.dropdown-container .dropdown-nav:before,
.dropdown-container .dropdown-nav:after {
    content: " "; 
    display: table; 
}
.dropdown-container .dropdown-nav:after {
    clear: both;
}
.dropdown-container .dropdown-nav ul {
    list-style: none;
    width: 9em;
     
}
.dropdown-container .dropdown-nav a {
    padding: 5px 15px;
    color:#660000;
}
.dropdown-container .dropdown-nav li {
    position: relative;
    /*background: #ddd url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x;*/
    background-color: #fff
    /*border: 1px solid #ddd;*/ 
}

.dropdown-container .dropdown-nav li ul li{
    
  border-top: 1px solid #ddd;
  padding: 0px 0px 0px 30px;
}
.dropdown-container .dropdown-nav > li {
    float: left;
    border: 1px solid #ddd;
    border-top: none;
}
.dropdown-container .dropdown-nav > li > .parent {
    background-image: url("/images/ama/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dropdown-container .dropdown-nav > li > a {
    display: block;
}
.dropdown-container .dropdown-nav li  ul {
    position: absolute;
    left: -9999px;
}
.dropdown-container .dropdown-nav > li.hover > ul {
    left: 0;
}
.dropdown-container .dropdown-nav li li.hover ul {
    left: 100%;
    top: 0;
}
.dropdown-container .dropdown-nav li li a {
    display: block;
     
    position: relative;
    z-index:100;
    border-top: 1px solid #fff;
}
.dropdown-container .dropdown-nav li li li a {
    background:#4f4f4f;
    z-index:200;
    border-top: 1px solid #660000;
}


.dropdown-container .active {
        display: block;
    }
    .dropdown-container .dropdown-nav > li {
        float: none;
    }
    .dropdown-container .dropdown-nav > li > .parent {
        background-position: 95% 50%;
    }
    .dropdown-container .dropdown-nav li li .parent {
        background-image: url("/images/ama/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .dropdown-container .dropdown-nav ul {
        display: block;
        width: 100%;
    }
   .dropdown-container .dropdown-nav > li.hover > ul , .dropdown-nav li li.hover ul {
        position: static;
    } 



@media screen and (max-width: 1200px) {
   

}