/* #Media Queries

================================================== */

@media (max-width: 480px) {
    
#subscribe-button .btn {
top:0;
}

#video-thumbnails #mainContentVidList .thumbnail {
height:225pt;
}

#video-thumbnails .thumbnail p {
font-size:.8em;
}

.fieldset-style {
border:1px solid #ddd;
padding:0;
}

#main {
overflow:hidden;
padding:10px;
}

#playerDiv {
clear:both;
margin:10px 0 10px -10px;
}

#side-nav .row-fluid [class*="span"]:first-child {
margin-left:0;
}

#wb_ent_content .h3-title {
line-height:20px;
font-size:18px;
}

#wb_ent_content h3 {
font-size:16px;
line-height:18px;
}

.outer-container {
left:5px;
}

#recaptcha_area,#recaptcha_table {
max-width:300px!important;
}

#comments {
width:300px!important;
}

#contactPar fieldset {
margin:0!important;
padding:0!important;
}

#contactForm input.styled,#contactForm textarea,#contactForm select {
display:block;
}

.no-padding .thumbnails,.pageNav {
padding:10px;
}
}

@media (min-width: 480px) {

}



@media (max-width: 767px) {
    
#subscribe-button .btn {
top:0;
padding:5px 60px 5px 20px;
}

#subscribe-button {
margin:0 auto;
}

#video-thumbnails #mainContentVidList .thumbnail {
height:210pt;
}

.fieldset-style {
border:1px solid #ddd;
padding:0;
}

#advertiseForm {
width:80%;
}

#advertiseForm fieldset {
width:80%;
margin-left:-10px;
padding:0;
}

#side-nav .row-fluid [class*="span"]:first-child {
margin-left:0;
}

#main {
overflow:hidden;
padding:10px;
}

#contactPar fieldset {
margin:0;
padding:0!important;
}

#advertiseForm label,#contactForm label {
display:block;
padding-right:10px;
border:none;
}

#video-thumbnails h3,h3 {
line-height:25px;
}
}


@media (max-width: 979px) {
    
#main {
overflow:hidden;
}

#video-thumbnails .thumbnail {
height:290pt;
}

#video-thumbnails .thumbnail p {
font-size:.8em;
}

#video-thumbnails h3 {
line-height:18px;
font-size:14px;
}

#wb_ent_content h3 {
line-height:20px;
font-size:18px;
}

}

@media (min-width: 768px) and (max-width: 979px) {
    
#main {
overflow:hidden;
}

#video-results .thumbnail {
margin-right:0;
}

#video-results .span9 {
margin-left:0;
padding:0 5px;
}

#side-nav .btn-group > .btn:first-child {
margin-left:2.76243%;
}

#subscribe-button .btn {
top:-70px;
float:right;
right:-10px;
}

#page .jumbotron {
margin:0;
}

#video-thumbnails .thumbnail {
height:325pt;
}

#video-thumbnails .thumbnail p {
font-size:.8em;
}

#cat-nav #prependedInput {
-moz-box-sizing:border-box;
min-height:30px;
width:40%;
}

.row-fluid .span10 {
width:65.9574%;
}

#wb_ent_sidebar1 .marginleft {
margin-left:2.5641%;
}

#contactForm fieldset {
background:none repeat scroll 0 0 #FFF;
border:1px solid #AAA;
border-radius:4px;
text-align:left;
float:none;
margin:20px auto;
padding:10px;
}

#contactForm label {
width:100%;
display:block;
}

select {
width:220px;
}

#contactForm input.styled,#contactForm textarea,#contactForm select {
width:280px;
}

#video-thumbnails h3,h3 {
line-height:20px;
font-size:16px;
}

.no-padding h3,#wb_ent_content .h3-title {
line-height:20px;
font-size:20px;
}
}





@media (min-width: 980px) {
    
#main {
overflow:hidden;
}

#subscribe {
margin-left:2.5641%!important;
}

#cat-nav #prependedInput {
-moz-box-sizing:border-box;
min-height:30px;
width:72%;
}

#subscribe-button .btn {
top:-70px;
float:right;
right:10px;
}

#video-thumbnails .thumbnail {
height:270pt;
}

#side-nav #archiveWidgetDiv {
margin:0 5px 10px;
}

#contactForm label {
width:100px;
}

select {
width:220px;
}

#contactForm fieldset {
background:none repeat scroll 0 0 #FFF;
border:1px solid #AAA;
border-radius:4px;
text-align:left;
float:none;
margin:20px auto;
padding:20px;
}

#wb_ent_sidebar1 .btn-group > .btn,.btn-group > .popover,#wb_ent_sidebar1 .btn-group > .dropdown-menu,#wb_ent_sidebar1 .marginleft {
margin-left:2.5641%;
}

#video-thumbnails h3,#wb_ent_content h3 {
line-height:25px;
font-size:18px;
}

}



@media (min-width: 1024px) and (max-width: 1250px) {
    
#wb_ent_content {
overflow:hidden;
}

#video-thumbnails .thumbnail {
height:300pt;
}

#cat-nav #prependedInput {
-moz-box-sizing:border-box;
min-height:30px;
width:65%;
}

.navbar-inner {
padding:0;
}

.row-fluid .span10 {
width:65.9574%;
}

#wb_ent_sidebar1 marginleft {
margin-left:2.5641%;
}

#side-nav #archiveWidgetDiv {
margin:0 5px 10px;
}

#contactForm label {
width:100px;
}

#contactForm fieldset {
background:none repeat scroll 0 0 #FFF;
border:1px solid #AAA;
border-radius:4px;
text-align:left;
float:none;
margin:20px auto;
padding:20px;
}
}



@media (min-width: 1200px) {
    
#wb_ent_content {
overflow:hidden;
}

#wb_ent_sidebar1 {
margin-left:1.0141%;
}

#wb_ent_content .h3-title {
font-size:25px;
}

#side-nav {
padding:0 0 0 10px;
}

#side-nav #archiveWidgetDiv {
margin:0 5px 10px;
}

#cat-nav #prependedInput {
-moz-box-sizing:border-box;
min-height:30px;
width:82%;
}

#contactForm label {
width:100px;
}

#contactForm input.styled,#contactForm textarea,#contactForm select {
width:250px;
}

#contactPar fieldset {
float:none;
}

select {
width:220px;
}

#contactForm fieldset {
background:none repeat scroll 0 0 #FFF;
border:1px solid #AAA;
border-radius:4px;
text-align:left;
float:none;
margin:20px auto;
padding:20px;
}

#wb_ent_sidebar1 .btn-group > .btn,.btn-group > .popover,#wb_ent_sidebar1 .btn-group > .dropdown-menu,#wb_ent_sidebar1 .marginleft {
margin-left:2.5641%;
}

#video-thumbnails h3,#wb_ent_content h3,.thumbnails h3 {
line-height:25px;
font-size:18px;
}



}

