body{
	margin: 0px;
	padding: 0px;
	color: #000;	
	background-color: #fff;
}
p{
	margin: 0px;
	padding: 0px;	
}
#wrapper{
	margin: 0px auto;
	width: 200px;
	height: 250px;		
}
#content{
	margin: 0px;
	width: 180px;
	height: 230px;	
}
#channel-name{
	color: #FFF;
	background-color: #024500;
	font-weight: bold;
	line-height: 12px;		
	width: 200px;
	height: 23px;
}
#channel-name a{
	color: #FFF;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;	
}
#channel-name h3{
	margin: 0px;
	padding: 0px;
	padding-left: 4px;
	padding-top: 6px;	
}
#top-content{
	height: 105px;
	width: 195px;			
	padding-left: 2px;
}
#main-content{	
	height: 105px;	
}
#main-content img{
	border: none;	
}
#main-par{
	margin: 0px;
	padding: 0px;
	width: 195px;	
}
#main-thumbnail{
	float: left;
	width: 92px;		
	height: 51px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#main-thumbnail img{
	border: 1px solid #e2e2e2;
	width: 92px;		
	height: 51px;
	z-index: 10;
}
#main-thumbnail #watch_now{
	position: absolute;
	top: 62px;
	/*top: 45px;*/
	left: 2px;
	background-color: none;
	z-index: 100;
	width: 92px;		
	height: 51px;	
}
#main-details{
	float: right;
	width: 147px;
	margin-left: 10px;
}
#main-details-title{		
	margin-top: 0px;
	margin-bottom: 2px;	
	padding-top: 4px;
}
#main-details-title a{
	color: #17236f;	
	font-weight: bold;
	font-size: 14px;	
	text-decoration: none;
	font-family: Helvetica,Verdana, sans-serif;	
}
#main-details-desc{
	height: 50px;
	font-size: 11px;
	font-family: Helvetica,Verdana, sans-serif;
	color: #333333;	
	display: inline;
}
#main_more{
	color: #2b206e;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	float: right;	
}
#middle-content{
	width: 200px;	
	height: 35px;
	padding-left: 5px;
	padding-top: 5px;
}
#bottom-content{
	height: 85px;	
	margin-bottom: 5px;	
	padding: 0px;
	width: 200px;
}
#bottom-content ul#other-posts{
	display: inline;
	margin: 0px;	
	padding: 0px;
	width: 200px;
	height: 85px;
	margin-left: 3px;		
}
#bottom-content ul#other-posts li{
	list-style: none;
	display: inline-block;	
	height: 100px;
	width: 62px;	
	vertical-align: top;
}
#bottom-content ul#other-posts div{
	height: 41px;
	width: 61px;	
	display: inline-block;
	margin-top: 6px;
	margin-right: 0px;
	overflow: hidden;
}
#bottom-content #other-posts .other-post-title{
	width: 61px;
	font-size: 10px;
	vertical-align: top;
	margin-top: 5px;
	font-family: Helvetica,Verdana, sans-serif;		
}
.other-post-title a{
	color: #2b206e;
	text-decoration: none;
}
.other-post-title span{
	color: #2b206e;
	text-decoration: none;
}
.smaller_thumb{
	width: 61px;
	height: 45px;	
	border: 1px solid #e2e2e2;	
}
#bottom-content .watch_other{
	position: absolute;
	background-color: none;
	border: none;	
	z-index: 100;
	width: 61px;		
	height: 40px;	
}
#other_post1{
	top: 175px;
	left: 3px;
}
#other_post2{
	top: 175px;
	left: 69px;
}
#other_post3{
	top: 175px;
	left: 135px;
}
#other_post4{
	top: 175px;
	left: 229px;
}
