body{
	margin: 0px;
	padding: 0px;
	color: #000;	
	background-color: #fff;
}
p{
	margin: 0px;
	padding: 0px;	
}
#wrapper{
	margin: 0px auto;
	width: 200px;
	height: 250px;		
}
#content{
	margin:  0px;
	width: 180px;
	height: 230px;	
}
#top-content{
	height: 100px;
	width: 200px;	
	margin-bottom: 0px;
	margin-bottom: 0px;
}
#channel-name{
	color: #FFF;
	background-color: #024500;
	font-weight: bold;
	line-height: 16px;	
	width: 200px;
	height: 23px;
	margin-bottom: 4px;	
}
#channel-name a{
	color: #FFF;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;	
}
#channel-name h3{
	margin: 0px;
	padding: 0px;
	padding-left: 4px;
	padding-top: 4px;	
}
#main-content{
	height: 105px;
	margin-top: 0px;
	margin-bottom: 5px;	
}
#main-content img{
	border: none;	
}
#main-par{
	margin: 0px;
	padding: 0px;
	width: 195px;
	margin-left: 4px;		
}
#main-thumbnail{
	float: left;
	width: 92px;		
	height: 51px;
	margin-right: 4px;	
}
html > body #main-thumbnail{
	margin-right: 5px;
	margin-bottom: 5px;	
}
#main-thumbnail img{
	border: 1px solid #e2e2e2;
	width: 92px;		
	height: 51px;	
}
#main-details{
	float: right;
	width: 148px;
	margin-left: 10px;
}
#main-details-title{
	font-size: 13px;	
	margin-bottom: 2px;
	margin-top: 0px;	
	line-height: 15px;	
	margin-left: 5px;	
}
#main-details-title a{
	color: #17236f;
	font-weight: bold;	
	text-decoration: none;
	font-family: Helvetica,Verdana, sans-serif;	
}
#main-details-desc{
	height: 50px;
	font-size: 11px;
	font-family: Helvetica,Verdana, sans-serif;
	color: #333333;	
	display: inline;
}
#main_more{
	color: #2b206e;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
}
#middle-content{
	width: 200px;	
	height: 35px;
	padding-left: 5px;
	padding-top: 0px;
}
#bottom-content{
	height: 85px;	
	margin-bottom: 5px;	
	width: 200px;
}
#bottom-content #other-posts{
	display: inline;
	margin: 0px;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	width: 200px;
	height: 85px;
}
#bottom-content #other-posts div{
	height: 41px;
	width: 61px;	
	display: inline-block;
	margin-top: 5px;	
}
html > body #bottom-content #other-posts div{
	margin-top: 5px;
}
#bottom-content #other-posts tr td{
	vertical-align: top;	
	width: 61px;
}
#bottom-content #other-posts tr td .other-post-title{
	width: 61px;
	font-size: 10px;
	vertical-align: top;
	margin-top: 3px;
	font-family: Helvetica,Verdana, sans-serif;	
	overflow: hidden;
}
.other-post-title a{
	color: #2b206e;
	text-decoration: none;	
}
.smaller_thumb{
	width: 61px;
	height: 45px;
	border: 1px solid #e2e2e2;	
	
}
