/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Jul-2014, 2:23:41 PM
    Author     : Lourice_2
*/

#post_specific_banners{
    //border: 1px solid red;
}

#postbox-container-2 .inside label{
    width: 150px; 
    text-align:center;
    display: inline-block;
}
#postbox-container-2 .inside h4{
    padding-left: 4px;
}

#postbox-container-2 .inside tr{
    margin-bottom: 10px;
}

#postbox-container-2 .inside h3{
    background-color: #80b5ea;
    color: #fff;
    margin: 20px 0;
    width: 57.3%;
}

#postbox-container-2 .inside h3 input[type='checkbox']{   
    width: 30px;
}

#postbox-container-2 .inside h3 label{
   text-align: left;
}

#postbox-container-2 .upload_wrapper{
    width:100%;    
    overflow: auto;
    display: table;
    margin-left:-2px;
}
#postbox-container-2 .upload_btn_wrapper{
    width: 185px;
    display: table-cell;
    vertical-align: middle;  
}

#postbox-container-2 img{
   // float:right;
}
#postbox-container-2 .post-meta-box-wrapper textarea{
    margin-left: 1px;
}


#postbox-container-2 .post-meta-box-wrapper input,#postbox-container-2 .post-meta-box-wrapper textarea{
    width: 655px;
}
#postbox-container-2 .inside .css_btn_upload {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	//line-height:40px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.css_btn_upload:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.css_btn_upload:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

#wb_order_number{
	width: 100%;
}

#columnAdHeader{
	height: 35px; 
	line-height: 30px;
	padding-left: 12px;
}

#bannerAdHeader{
	height: 35px;
	line-height: 30px; 
	padding-left: 12px;
}