/*
Theme Name: Enterprise APF
Theme URI: http://workerbee.tv
Description: Accelerated Publisher Framework 
Author: Workerbee TV
Author URI: http://workerbee.tv
Version: 1.0.74
Tags: workerbee, tv
Text Domain: enterprise
.
Your theme can be your copyrighted work.
Like WordPress, this work is released under GNU General Public License, version 2 (GPL).
 
http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 
.
*/
/* micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

/* wp-specific classes */
.wp-caption{
	
}

.wp-caption-text{
	
}

.sticky{
	
}

.gallery-caption{
	
}

/* layout */

body{
	padding-top: 0;
}

/* Admin Top Navigation fixes */

body.admin-bar .navbar-fixed-top{ 
	top: 28px; 
}

.navbar .brand{
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
	font-weight: bold !important;
}

.nav-container{
	padding-left: 0;
	padding-right: 0;
}

#inner-header{
	width: 100%;
}

input, textarea, select, .uneditable-input {
	margin-bottom: 0;
}

.navbar-form, .navbar-search {
	margin: 0 0 9px;
}

.navbar-search{
	padding-left: 0;
}

#s{
	width: 100px;
}

#wb_ent_content{
	padding: 10px 0 0;
}

.more-link{
	white-space: nowrap;
}

.footer-links{
	float: right;
	margin-bottom: 18px;
}

.footer-links .menu{
	list-style-type: none;
	margin-left: 0;
}

.footer-links .menu li{
	float: left;
	margin-left: 10px;
}

/* post styling */

wb_ent_main p.meta{
	font-style: italic;
	color: #808080;
}

wb_ent_main article{
	margin-bottom: 18px;
	border-bottom: 1px solid #eeeeee;
	padding: 0 0 9px;
}

wb_ent_main article footer{
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	position: relative;
	min-height: 20px;
}

wb_ent_main article footer a.edit-post{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.post:hover a.edit-post{
	display: inline;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}

/* =Aside post format
-------------------------------------------------------------- */
wb_ent_main article.format-aside {
	padding: 0;
}

article.format-aside h1 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
	text-decoration: none;
}
article.format-aside h1 a:hover {
}
article.format-aside .aside {
	padding: 24px 24px 0;
	padding: 1.714285714rem;
	border-left: 22px solid;
}
article.format-aside p {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}
article.format-aside footer.aside {
	padding: 24px 24px 0;
	padding: 1.714285714rem;
	border-left: 22px solid;
}

/* Image posts */
article.format-image footer h1 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}

/* Link posts */
article.format-link header {
	padding: 0 10px;
	padding: 0 0.714285714rem;
	float: right;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;
}
article.format-link .entry-content {
	max-width: 80%;
	float: left;
}
article.format-link .entry-content a {
	font-size: 22px;
	font-size: 1.571428571rem;
	line-height: 1.090909091;
	text-decoration: none;
}

article.format-link footer.entry-meta { 
	clear: both;
}

/* Quote posts */
article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	padding: 1.714285714rem 1.714285714rem 0;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.6;
	font-style: normal;
}

article.format-quote .entry-content blockquote p:before {
	content: "\201C  ";
	font-size: 2rem;
}

article.format-quote .entry-content blockquote p:after {
	content: " \201D ";
	font-size: 2rem;
}

/* Status posts */
.format-status .entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
	display: inline-block;
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-size: 1.071428571rem;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #21759b;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	margin-right: 1.5rem;
}

p.tags{
	line-height: 20px;
}

div[id*='attachment_']{
	max-width: 100%;
	height: 100%;
}

#credit320{
	background: url('images/320press_mini.png') no-repeat left top transparent;
	padding-left: 20px;
}

wb_ent_main .hero-unit img{
	margin-bottom: 1em;
}

wb_ent_main article img{
	height: auto;
	max-width: 100%;
}

img.alignleft{
	margin-right: 10px;
	float: left;
}

img.alignright{
	margin-left: 10px;
	float: right;
}

img.aligncenter{
	display: block;
	margin: 0 auto;
}

.post header img{
	margin-bottom: 18px;
}

.archive wb_ent_main .post h3{
	line-height: 24px;
	margin-bottom: 10px;
}

video {
	max-width: 100%;
	height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 630px;
	max-width: 100%;
	margin-bottom: 18px;
}

/* page styling */

#featured-carousel .item{
	width: 970px;
	height: 600px;
}

.carousel-caption p{
	display: none;
}

.page-template-page-homepage-php wb_ent_main article{
	border-bottom: none;
}

.page-template-page-homepage-php .hero-unit,
.blog .hero-unit{
	padding: 1em;
}

.hero-unit h1 {
	font-size: 3em;
}

/* comments */



#comments{
	line-height: 24px;
	margin-bottom: 18px;
}

ol.commentlist,
ol.commentlist ul.children{
	list-style-type: none;
	margin-left: 0;
}

.comment .vcard > div{
	margin-top: 8px;
	padding: 0 10px;
}

ol.commentlist time{
	font-size: .8em;
	color: #eeeeee;
}

ol.commentlist div.comment-author{
	position: relative;
}

ol.commentlist a.comment-edit-link{
	color: #ffffff;
	text-decoration: none;
	padding-left: 5px;
}

ol.commentlist span.edit-comment{
	position: absolute;
	right: 0;
	top: 8px;
}

ol.commentlist li.bypostauthor{
	background-color: #dddddd;
}

ol.commentlist ul.children li{
	background-color: #cccccc;
}

ol.commentlist ul.children li ul.children li{
	background-color: #bbbbbb;
}

ol.commentlist ul.children li ul.children li ul.children li{
	background-color: #aaaaaa;
}

ol.commentlist article{
	border-bottom: none !important;
}

a.comment-reply-link{
	position: absolute;
	right: 0;
	bottom: 0;
}

#comment-nav ul{
	list-style-type: none;
	margin: 0;
}

#comment-form-elements{
	list-style-type: none;
	margin: 0;
}

.comment .vcard .avatar{
	padding-right: 0;
}

.comment .vcard .comment-text{
	margin-left: 0;
}

img.avatar{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #ddd;
	
}

ol.commentlist li{
	padding-right: 10px;
	background-color: #F0F0F0;
}

#pings{
	margin-bottom: 9px;
}

ol.pinglist{
	list-style-type: none;
	margin: 0 0 9px 0;
}

#comment{
	width: 270px;
}

ol.commentlist #respond{
	padding: 5px 10px;
}

/* specific post-type styles */

/* image attachment */

.attachment wb_ent_main .post_content img{
	max-width: 100%;
}

.ie8 wb_ent_main .media-grid img{
	max-height: none !important;
	max-width: none !important;
}

.attachment-img{
	margin-bottom: 18px;
}

.metadata p.alert-message{
	margin-right: 0;
	margin-bottom: 18px;
}

#gallery-nav{
	list-style-type: none;
	margin-left: 0;
}

li.next a, li.previous a{
	position: relative;
}

li.next a:hover:before{
	content: "\2190";
	position: absolute;
	display: block;
	top: 42%;
	left: 0;
	background-color: #BFBFBF;
	color: #444;
	width: 20px;
	height: 20px;
	padding-left: 5px;
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

li.previous a:hover:before{
	content: "\2192";
	position: absolute;
	display: block;
	top: 42%;
	right: 0;
	background-color: #BFBFBF;
	color: #444;
	width: 20px;
	height: 20px;
	padding-left: 5px;
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}


/* widget styles */

.widget{
	margin-bottom: 18px;
}

.widgettitle{
	margin-bottom: 9px;
}

#tag-cloud{
	margin-bottom: 18px;
	line-height: 160%;
}

/* for some reason the bs version currently available for download doesn't have this style */
.label{
	//text-transform: uppercase;
}

/* override standard link hover for the tag cloud widget */
#tag-cloud a:hover,
.tags a:hover{
	color: #333;
	text-decoration: underline;
}

#tag-cloud a{
	white-space: pre;
	//text-transform: uppercase;
}

/* change default form padding for search */

.widget_search form{
	padding-left: 0;
}

.widget_search input{
	width: 121px;
}

/* calendar widget */

#calendar_wrap{
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

#wp-calendar{
	width: 100%;
	
}

#wp-calendar caption{
	font-weight: bold;
	padding: 8px;
}

#wp-calendar tr{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#wp-calendar tr:last-child{
	border-bottom: none;
}

#wp-calendar td{
	text-align: center;
	padding: 8px 0;
}

blockquote.pull-left{
	padding-right: 15px;
}

@media only screen and (min-width: 768px) {
	.carousel-caption p{
		display: block;
	}
}

@media only screen and (min-width: 980px) {
	body{
		padding-top: 60px;
	}
	
	.container-fluid{
		max-width: 1020px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#inner-footer{
		padding: 0;
	}
	
	#wb_ent_content{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.topbar-inner{
		padding: 0;
	}
	
	.topbar form.pull-right {
		float: right;
	}
	
	.navbar-form, .navbar-search {
		margin-top: 6px;
		margin-bottom: 0;
	}
	
	.navbar-search{
		padding-left: 0;
	}
	
	.sidebar{
		margin-top: 0 !important;
	}
	
	.widget_search input{
		width: 230px;
	}
	
	.blog .hero-unit{
		margin-top: 10px;
	}
	
	.page-template-page-homepage-php .hero-unit,
	.blog .hero-unit{
		padding: 60px;
	}
	
	.hero-unit h1 {
		font-size: 60px;
	}
	
	/* hide edit comment button and show on hover on desktop version */
	.edit-comment{
		display: none;
	}
	
	.vcard:hover .edit-comment{
		display: inline-block;
	}
	
	#s{
		width: 210px;
		margin-bottom: 6px;
	}
	
	.widget_search input{
		width: 209px;
	}
	
	.comment .vcard .comment-text{
		padding-left: 0;
		padding-right: 0;
	}
}


footer .row li{
line-height: normal;

}

footer .row ul{
padding-left: 30pt;
}

footer .row{
margin-left: auto;
}

header .row{
margin-left: auto;
}

wb_ent_main .btn-group > .btn:first-child {
font-variant: all-caps;
text-transform:uppercase;

}

.btnwb {
  
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  
  margin-bottom: 0;
  
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  color: #000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fff;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0 !important ;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/*
#wb_ent_sidebar1 .row-fluid [class*="span"]{
margin-left:0;

}
*/

#wb_ent_sidebar1 .btn-group > .btn:first-child {
text-transform: uppercase;
text-align: center;

}

.btn-group > .dropdown-menu{
width: 100%;
}

.spacing{
margin: 20px;
}

#video-thumbnails [class*="span"]:nth-child(3n+1) {
 clear:both;
 margin-left: 0;
}
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.dropdown-menu {
border-radius: 0;
min-width:73%;
}

#video-thumbnails h3{
margin: 5px 0px 0px;
}

.more-link{
color: #660000;
font-variant: small-caps;
}

wb_ent_main ul li a{
color: #000;
}

wb_ent_main ul li .label, .label {
    color: #000;
}

wb_ent_main #wb-nav a:hover{
color: #fff;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  display:inline-block;
  float: right;
  margin-top: -17px;
	border-top: 10px solid #000;
}

 #ipad-menu [class*="span"]{ 
 margin-left: 0px;
 }
 
 #top-header .navi-inner{
 height: 20px;
 border-radius: 0;
 }


 /* ALL EPISODES*/
#all-episodes .container-fluid{
padding: 0;
}

.video-list-li [class*="span"]:first-child {
clear: both;
/*
clear:both;
 margin-left: 0;
*/
}

.video-list-li [class*="span"]:nth-child(2n+1) {
 margin-left: 0;
 clear:both;

/*
clear:both;
 margin-left: 0;
*/
}

.video-list-li-3 [class*="span"]:nth-child(3n+1) {
 margin-left: 0;
 clear:both;
}

.no-padding{
padding: 10px;
}

.no-padding [class*="span"]:nth-child(3n+1) {
 margin-left: 0;
 clear: both;
}

#page a{
color: #fff;
}

/*CONTACT*/

.form-style fieldset {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;    
}

/*Video Query*/

#cat-nav select{
padding: 5px 0;
margin: 0;
}

#video-thumbnails ul li a:hover{
color: #4f4f4f;

}

/*Vid Related Tabs*/

#tabs .thumbnail{
float:left;
display: inline-block;
}


#tabs .thumbnails li:nth-child(2n+1) {
clear:both;
 margin-left: 0;
}

#side-tabs .thumbnails li{
clear:both;
 margin-left: 0;
}

#vid-post li:nth-child(2) {
margin-left: 0;
}


#video-post-page h1{
font-size: 2em;
margin: 0;
}

.thumbnails a{
color: #660000;
}

#contactForm input, #contactForm select{
margin-bottom: 10px;
}

/*Video Page*/

#vid-post{
margin-bottom: 10px;
}




.video-list-1 li:nth-child(1n+1){
clear:both;
margin-left:0;

}

.video-list-li li:nth-child(n+1) {
    clear: both;
    margin-left: 0;
}

.video-list-1 .span10{

margin-left:0;
padding-left:10px;

}

#video-results .thumbnail {
    display: inline-block;
    float: left;
    margin-right:5px;
}

#all-videos .thumbnail {
    display: inline-block;
    float: left;
    margin-right:5px;
}

/* Tabs */
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
    background: #999;
    color:#fff;
    cursor:pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* body */

body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    font-family: 'Arial',Arial,Helvetica,sans-serif !important;
    font-size: 0.9em !important;
    text-align: left !important;
}

#wb_ent_content{
min-height: 400px;
}

/*Side Bar*/

.toggleDropdownMenu{
background: #fff url('/wp-content/themes/enterprise/images/bg_box.gif') top left repeat-x; 
}

/* Subscribe Collapse */

#subscribe img{
margin:3px 10px 0px;

}

#wb_ent_sidebar1 .side-bar-width{
max-width: 278px;

}

#about{
 background: url("/wp-content/themes/enterprise/images/bg_box.gif") repeat-x scroll left top #DDDDDD;
border: 1px solid #EEEEEE;
padding: 0 10px 10px; 
}
#about h2{
   border-bottom: 1px solid #EEEEEE;
}

#sponsor-ama-tv p{
font-weight: normal;
font-size: inherit;
line-height: inherit;
}


#sponsor-ama-tv .span8 {
    margin-left: 0;
}

.subs-h{
text-align: center;
      text-transform: uppercase;
      font-size: 17.5px;
      color: #000;
      padding: 5px 0px;
}

.ui-widget-content {
border: none;
}

/*TABS*/
#recent-episodes{
height: 550px;
overflow-x: hidden;
overflow-y: auto;
}

#related-videos{
height: 550px;
overflow-x: hidden;
overflow-y: auto;
}
#popular-videos{
height: 550px;
overflow-x: hidden;
overflow-y: auto;
}
#cat-videos{
height: 550px;
overflow-x: hidden;
overflow-y: auto;
}

#tabs{
margin-bottom: 100px;
}

#archiveWidgetDiv li{
line-height: 15px;
}

#side-nav .row-fluid [class*="span"]:first-child {
    margin-left: 2.5641%;
}



.mm-menu .mm-search2 input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
}
.mm-search2 input {
    border: medium none;
    border-radius: 15px;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    outline: medium none;
    padding: 0 10px;
    text-shadow: none;
    width: 100%;
}
.mm-search2, .mm-search2 input {
    -moz-box-sizing: border-box;
}


#tabs .ui-widget{
font-size: 0.9em;
}

.ui-widget{
font-size: 0.9em;
}

#tabs p{
font-size: 0.9em;
}

#tabs {
font-size: 0.9em;
}


#wb_ent_content .related-h3{
font-size:16px;
line-height:20px;
}

/* Online Marketing Mix */


.fieldset-style {   
    margin: 20px auto 50px;
    padding: 20px;
    border: 1px solid #ddd;
   
}

wb_ent_main #video-post-page article{
margin-bottom: 0;
}





/*Disqus*/

.dsq-comment-header {white-space:normal!important;}

#wb_ent_content{
margin-bottom: 50px;
padding-top: 5px;

}

#menu-left .nav a:hover{
color: #333;
}



#mm-m0-p0 .dropdown a:first-child:before {
    border-left-style: solid;
    border-left-width: 0px;
    content: "Browse";
    display: block;
    height: 100%;
    left: 20px;
    position: absolute;
    top: 10px;
}

#mm-m0-p0  #com-vid  a:first-child:before {
    border-left-style: solid;
    border-left-width: 0px;
    content: "Community Videos";
    display: block;
    height: 100%;
    left: 20px;
    position: absolute;
    top: 10px;
}

.no-style{
padding: 0;
border-radius:0;
}

/* Edited Tag Style */



#vid-post pre, .thumbnails pre{
background-color: none;
border: none;
border-radius: 0;

}

#wb_ent_content {
    margin: 0px auto;
    max-width: 1020px;
    background-color: #fff;
}

.navbar-inner{
    padding-left: 0;
    padding-right: 0;
}


//make sure thumbnail listings have width:120px;
#video-results .thumbnail, #tabs .thumbnail{
    max-width: 120px;
}


#all-videos .thumbnails .span12 img {
    max-height: 67px;
    min-width: 120px;
}

wb_ent_main #playerDiv{
    margin: 0;    
}

#video-results .thumbnails .span12 img{
min-width: 120px;
max-height: 67px;
}

#top{
    padding: 10px 0!important;
    
}
html{
    margin-top: 0 !important;
}

#main{
    
    background-color: fff !important;
}

#polls-widget{
    margin-bottom: 10px;
    width: 272px;
}

#wb_banner_footer{
text-align: center;
}

#wb_banner_sidebar{
text-align: center;
width:320px;
}

.container-fluid{
    background-color: #fff;
    
}

/*ieblock fix*/
.ie8 #stwrapper
{display:none !important;}


// Async missing banner solution
#wb_ent_sidebar1 #side-nav .row-fluid [class*="span"] {
    min-height: 0;
    margin-bottom: 0;    
}

#wb_ent_sidebar1 #side-nav .row-fluid [class*="span"] img {
    margin-bottom: 20px;    
}


#wb_ent_sidebar1 #side-nav .thumbnails [class*="span"] {
    min-height: 0;
    margin-bottom: 0;    
}

#wb_ent_sidebar1 #side-nav .thumbnails [class*="span"] img {
    margin-bottom: 20px;    
}

#mainContentVidList .thumbnail{
    border: 0px solid #ddd;
    box-shadow: none;
}

a.label:hover, a.label:focus, a.badge:hover, a.badge:focus{
    color: #333;    
}

#vid-post del{
    text-decoration: line-through !important;
}
#vid-post ul li{
    list-style: inside disc !important;
}
#vid-post ol li{
    list-style: inside none inside !important;
}
#vid-post em{
    font-style: italic !important;
}


